{% extends 'base.html' %}
{% block title %}emoji copy{% endblock %}

{% block side_left%}
<a href="#0">Link</a>
<a href="#1">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
<a href="#0">Link</a>
{% endblock %}

{% block main %}
<div class="row">
  <h2 id="0">christmas</h2> 
  <p class="emoji">
  {% for x in christmas %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="1">Faces</h2> 
  <p class="emoji">
  {% for x in faces %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="2">Gesture and body parts</h2>
  <p class="emoji"> 
  {% for x in gestures %}
  {{ x }}
  {% endfor %}
  </p> 
  <h2 id="3">People</h2>
  <p class="emoji">
  {% for x in people %}
  {{ x }}
  {% endfor %}
  </p> 
  <h2 id="4">Animals and Nature</h2>
  <p class="emoji"> 
  {% for x in nature %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="5">Food and Drink</h2>
  <p class="emoji">
  {% for x in food %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="6">Activity and Sports</h2>
  <p class="emoji">
  {% for x in activity %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="7">Travel and Places</h2>
  <p class="emoji">
  {% for x in travel %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="8">Objects</h2>
  <p class="emoji">
  {% for x in objects %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="9">Symbols</h2>
  <p class="emoji">
  {% for x in symbols %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="10">Flags</h2>
  <p class="emoji">
  {% for x in flags %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="11">New emojis</h2>
  <p class="emoji">
  {% for x in newemojis %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="12">Color 0</h2>
  <p class="emoji">
  {% for x in color0 %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="13">Color 1</h2>
  <p class="emoji">
  {% for x in color1 %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="14">Color 2</h2>
  <p class="emoji">
  {% for x in color2 %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="15">Color 3</h2>
  <p class="emoji">
  {% for x in color3 %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="16">Color 4</h2>
  <p class="emoji">
  {% for x in color4 %}
  {{ x }}
  {% endfor %}
  </p>
</div>
{% endblock %}