{% extends 'base.html' %}

{% block content %}

      Christmas
      <div id="content" class="row">
      {% if christmas %}
        {% for x in christmas %}
        <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
        {% endfor %} 
      {% endif %}
      </div>
      Faces
      <div class="row">
        {% if faces %}
            {% for x in faces %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Gesture and body parts
      <div class="row">
        {% if gestures %}
            {% for x in gestures  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      People
      <div class="row">
        {% if people %}
            {% for x in people  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Animals and Nature
      <div class="row">
        {% if nature %}
            {% for x in nature  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Food and Drink
      <div class="row">
        {% if food %}
            {% for x in food  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Activity and Sports
      <div class="row">
        {% if activity %}
            {% for x in activity  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Travel and Places
      <div class="row">
        {% if travel %}
            {% for x in travel  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Objects
      <div class="row">
        {% if objects %}
            {% for x in objects  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Symbols
      <div class="row">
        {% if symbols %}
            {% for x in symbols  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Flags
      <div class="row">
        {% if flags %}
            {% for x in flags  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      New Emojis
      <div class="row">
        {% if newemojis %}
            {% for x in newemojis  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Color 0
      <div class="row">
        {% if color0 %}
            {% for x in color0  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Color 1
      <div class="row">
        {% if color1 %}
            {% for x in color1  %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Color 2
      <div class="row">
        {% if color2 %}
            {% for x in color2 %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Color 3
      <div class="row">
        {% if color3 %}
            {% for x in color3 %}
              <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
            {% endfor %} 
        {% endif %}
      </div>
      Color 4
      <div class="row">
          {% if color4 %}
              {% for x in color4  %}
                <span class="emoji" data-clipboard-text="{{ x }}">{{ x }}</span>
              {% endfor %} 
          {% endif %}
      </div>

{% endblock %}