{% extends 'emoji/emoji.html' %}
{% block title %}Emojis | &#128526; Shadesapps - Modo Escuro &#127770;{% endblock %}
{% block side_left%}
<a href="#0"><p class="side-block">Carinhas e Gestos</p></a>
<a href="#1"><p class="side-block">Pessoas e Atividades</p></a>
<a href="#2"><p class="side-block">Natureza e Comidas</p></a>
<a href="#3"><p class="side-block">Símbolos e Objetos</p></a>
<a href="#4"><p class="side-block">Viagem e Bandeiras</p></a>
<a href="#5"><p class="side-block">Novos Emojis</p></a>
{% endblock %}
{% block main %}
<div class="container rounded-block">
  <h1>Emojis</h1>
  <h2 class="title-sub" id="0">Carinhas e Gestos</h2>
  <div class="row">
    <div class="col-lg emoji">
      {% for x in faces %}
      {{ x }}
      {% endfor %}
      {% for y in gestures %}
      {{ y }}
      {% endfor %}
    </div>
  </div>
</div>
<div class="container rounded-block">
  <h2 class="title-sub" id="1">Pessoas e Atividades</h2>
  <div class="row">
    <div class="col-lg emoji">
      {% for x in people%}
      {{ x }}
      {% endfor %}
      {% for y in activity %}
      {{ y }}
      {% endfor %}
    </div>
  </div>
</div>
<div class="container rounded-block">
  <h2 class="title-sub" id="2">Natureza e Comidas</h2>
  <div class="row">
    <div class="col-lg emoji">
      {% for x in nature%}
      {{ x }}
      {% endfor %}
      {% for y in food %}
      {{ y }}
      {% endfor %}
    </div>
  </div>
</div>
<div class="container rounded-block">
  <h2 class="title-sub" id="2">Símbolos e Objetos</h2>
  <div class="row">
    <div class="col-lg emoji">
      {% for x in symbols %}
      {{ x }}
      {% endfor %}
      {% for y in objects %}
      {{ y }}
      {% endfor %}
    </div>
  </div>
</div>
<div class="container rounded-block">
  <h2 class="title-sub" id="4">Viagem e Bandeiras</h2>
  <div class="row">
    <div class="col-lg emoji"> 
      {% for x in travel %}
      {{ x }}
      {% endfor %}
      {% for y in flags %}
      {{ y }}
      {% endfor %}
    </div>
  </div>
</div>
<div class="container rounded-block">
  <h2 class="title-sub" id="5">Novos Emojis</h2>
  <div class="row">
    <div class="col-lg emoji"> 
      {% for x in newemojis %}
      {{ x }}
      {% endfor %}
    </div>
  </div>
  <div class="justify-content-center">
    <span>
      <a href="#0">Carinhas e Gestos</a> |
      <a href="#1">Pessoas e Atividades</a> |
      <a href="#2">Natureza e Comidas</a> |
      <a href="#3">Símbolos e Objetos</a> |
      <a href="#4">Viagem e Bandeiras</a> |
      <a href="#5">Novos Emojis</a>
    </span>
  </div>
</div>
<div class="container rounded-block">
  <div class="row">
    <div class="col-lg">
      <p id="text-complement">
        Você encontrará aqui listas com emojis para copiar e colar. <br> Cobrindo novos emojis, rostos, gestos,
        atividade, símbolos, objetos, bandeiras, emoji de coração, emoji risonho, emoji triste, emoji LGBT, emoji de gatinho,
        emoji trangender, emoji de bandeira, emoji suplicante, emoji de rosto com lágrimas de alegria, emoji de abraço, emoji de palhaço,
        emoji de rosto sorridente, emoji de marca de seleção, emoji rosto sorridente de emoji com lágrima, vírus, vacina, emoji quente, emoji de fogo,
        emoji de máscara, emoji de gato, emoji de cão, emoji de arco-íris, emoji de sol, emoji de lua, emoji de clima, emoji de olhos,
        emojis de páscoa, emojis fofos, emoji de mão, emoji de dedos, emoji de roupa e muitos outros.
        emoji de aniversário, emoji de sexta-feira negra, emoji de matéria de vida negra, emoji de carnaval, emoji de ano novo chinês,
        emoji de natal, emoji de cinco de mayo, emojim de coronavírus diwali emoji, emoji de festival de barco do dragão,
        emoji do dia da terra, emoji de filme, emoji do dia dos pais, quatro vinte emoji, 420 emoji, emoji de formatura,
        emoji de halloween, emoji de hanukkah, emoji do dia da independência, emoji do dia da mulher, emoji NSFW,
        emoji olimpíadas, emoji de orgulho, emoji de verão, emoji de ação de tanques, emoji de casamento, emoji de casamento,
        emoji de inverno, emoji de olimpíadas de inverno, emoji de trabalho em casa, emoji da copa do mundo,
        <br> que pode ser útil em jogos e Twitter, Discord, Instagram, Twitch, Facebook, LOL Wild Rift e assim por diante.
      </p>
    </div>
  </div>
</div>
{% endblock %}