{% extends 'base.html' %}
{% block title %}Emojis{% endblock %}
{% block side_left%}
<p><a href="#0">New Emojis</a></p>
<p><a href="#1">Faces and Gestures</a></p>
<p><a href="#2">People and Activity</a></p>
<p><a href="#3">Symbols and Objects</a></p>
<p><a href="#4">Travel and Flags</a></p>
{% endblock %}
{% block main %}
<h3>Emoji</h3>
<div class="row">
  <h2 id="0">New Emojis</h2>
  <p class="emoji">
  {% for x in emojis.newemojis %}
  {{ x }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  <h2 id="1">Faces and Gestures</h2> 
  <p class="emoji">
  {% for x in emojis.faces%}
  {{ x }}
  {% endfor %}
  {% for y in emojis.gestures %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  </p>
  <h2 id="2">People and Activity</h2>
  <p class="emoji"> 
  {% for x in emojis.people%}
  {{ x }}
  {% endfor %}
  {% for y in emojis.activity %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  </p> 
  <h2 id="3">Symbols and Objects</h2>
  <p class="emoji">
  {% for x in emojis.symbols %}
  {{ x }}
  {% endfor %}
  {% for y in emojis.objects %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  <h2 id="4">Travel and Flags</h2>
  <p class="emoji"> 
  {% for x in emojis.travel %}
  {{ x }}
  {% endfor %}
  {% for y in emojis.flags %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row justify-content-center">
  <p>
    <a href="#0">New Emojis</a> |
    <a href="#1">Faces and Gestures</a> |
    <a href="#2">People and Activity</a> |
    <a href="#3">Symbols and Objects</a> |
    <a href="#4">Travel and Flags</a>
  </p>
</div>
{% endblock %}