{% extends 'base.html' %}
{% block title %}Emojis | ShadesApps{% endblock %}
{% block side_left%}
<p><a href="#0">New Emojis</a></p>
<p><a href="#1">Faces and Gestures</a></p>
<p><a href="#2">People and Activity</a></p>
<p><a href="#3">Symbols and Objects</a></p>
<p><a href="#4">Travel and Flags</a></p>
{% endblock %}
{% block main %}
<h2 class="mt-2">Emojis</h2>
<div class="row">
  <h3 class="ml-4" id="0">New Emojis</h3>
  <p class="emoji">
  {% for x in emojis.newemojis %}
  {{ x }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  <h3 class="ml-4" id="1">Faces and Gestures</h3> 
  <p class="emoji">
  {% for x in emojis.faces%}
  {{ x }}
  {% endfor %}
  {% for y in emojis.gestures %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  </p>
  <h3 class="ml-4" id="2">People and Activity</h3>
  <p class="emoji"> 
  {% for x in emojis.people%}
  {{ x }}
  {% endfor %}
  {% for y in emojis.activity %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  </p> 
  <h3 class="ml-4" id="3">Symbols and Objects</h3>
  <p class="emoji">
  {% for x in emojis.symbols %}
  {{ x }}
  {% endfor %}
  {% for y in emojis.objects %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  <h3 class="ml-4" id="4">Travel and Flags</h3>
  <p class="emoji"> 
  {% for x in emojis.travel %}
  {{ x }}
  {% endfor %}
  {% for y in emojis.flags %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row justify-content-center">
  <p>
    <a href="#0">New Emojis</a> |
    <a href="#1">Faces and Gestures</a> |
    <a href="#2">People and Activity</a> |
    <a href="#3">Symbols and Objects</a> |
    <a href="#4">Travel and Flags</a>
  </p>
</div>
<div class="row mt-3">
	<p class="ml-3 mr-3" id="text-complement">
    You'll find here lists with emojis for copy and paste. Covering new emojis, faces, gestures,
    activity, symbols, objects, flags, heart emoji, laughing emoji, sad emoji, and so on. Which
    can be useful in Twitter, Discord, Instagram, Twitch, Facebook, and so many others.
  </p>
</div>
{% endblock %}