{% extends 'base.html' %}
{% block title %}Shadesapps | Emojis &#128526;{% endblock %}
{% block side_left%}
<a href="#0" style="text-decoration:none"><p class="side-block">Novos Emojis</p></a>
<a href="#1" style="text-decoration:none"><p class="side-block">Carinhas e Gestos</p></a>
<a href="#2" style="text-decoration:none"><p class="side-block">Pessoas e Atividades</p></a>
<a href="#3" style="text-decoration:none"><p class="side-block">Símbolos e Objetos</p></a>
<a href="#4" style="text-decoration:none"><p class="side-block">Viagem e Bandeiras</p></a>
{% endblock %}
{% block main %}
<h2 class="mt-2">Emojis</h2>
<div class="row">
  <h3 class="ml-4" id="0">Novos Emojis</h3>
  <p class="emoji">
  {% for x in emojis.newemojis %}
  {{ x }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  <h3 class="ml-4" id="1">Carinhas e Gestos</h3> 
  <p class="emoji">
  {% for x in emojis.faces%}
  {{ x }}
  {% endfor %}
  {% for y in emojis.gestures %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  </p>
  <h3 class="ml-4" id="2">Pessoas e Atividades</h3>
  <p class="emoji"> 
  {% for x in emojis.people%}
  {{ x }}
  {% endfor %}
  {% for y in emojis.activity %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  </p> 
  <h3 class="ml-4" id="3">Símbolos e Objetos</h3>
  <p class="emoji">
  {% for x in emojis.symbols %}
  {{ x }}
  {% endfor %}
  {% for y in emojis.objects %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  <h3 class="ml-4" id="4">Viagem e Bandeiras</h3>
  <p class="emoji"> 
  {% for x in emojis.travel %}
  {{ x }}
  {% endfor %}
  {% for y in emojis.flags %}
  {{ y }}
  {% endfor %}
  </p>
</div>
<div class="row justify-content-center">
  <p>
    <a href="#0">Novos Emojis</a> |
    <a href="#1">Carinhas e Gestos</a> |
    <a href="#2">Pessoas e Atividades</a> |
    <a href="#3">Símbolos e Objetos</a> |
    <a href="#4">Viagem e Bandeiras</a>
  </p>
</div>
<hr>
<div class="row mt-3">
  <p class="ml-3 mr-3" id="text-complement">
    Você irá encontrar aqui listas com emojis, incluindo novos emojis, carinhas, sinais, gestos, emojis
    de coração, de animais, símbolos, objetos e bandeiras. Muito fácil de usar, só copiar e colar, seja
    no Facebook, Twitter, Instagram, Discord, Whatsapp, Twitch, etc.
  </p>
</div>
{% endblock %}
{% block side_right %}
<a href="/en/emoji" style="text-decoration:none"><p class="side-block-emoji">&#127482;&#127480; en</p></a>
<a href="/pt/emoji" style="text-decoration:none"><p class="side-block-emoji">&#127463;&#127479; pt-br</p></a>
{% endblock %}
