{% extends 'base.html' %}
{% block title %}Emojis | Shadesapps{% endblock %}
{% block side_left%}
<p><a href="#0">Novos Emojis</a></p>
<p><a href="#1">Carinhas e Gestos</a></p>
<p><a href="#2">Pessoas e Atividades</a></p>
<p><a href="#3">Simbolos e Objetos</a></p>
<p><a href="#4">Viajem e Bandeiras</a></p>
{% endblock %}
{% block main %}
<h2 class="mt-2">Emojis</h2>
<div class="row">
  <h3 class="ml-4" id="0">Novos Emojis</h3>
  <p class="emoji">
  {% for x in emojis.newemojis %}
  {{ x }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  <h3 class="ml-4" id="1">Carinhas e Gestos</h3> 
  <p class="emoji">
  {% for x in emojis.faces%}
  {{ x }}
  {% endfor %}
  {% for y in emojis.gestures %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  </p>
  <h3 class="ml-4" id="2">Pessoas e Atividades</h3>
  <p class="emoji"> 
  {% for x in emojis.people%}
  {{ x }}
  {% endfor %}
  {% for y in emojis.activity %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  </p> 
  <h3 class="ml-4" id="3">Simbolos e Objetos</h3>
  <p class="emoji">
  {% for x in emojis.symbols %}
  {{ x }}
  {% endfor %}
  {% for y in emojis.objects %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row">
  <h3 class="ml-4" id="4">Viajem e Bandeiras</h3>
  <p class="emoji"> 
  {% for x in emojis.travel %}
  {{ x }}
  {% endfor %}
  {% for y in emojis.flags %}
  {{ y }}
  {% endfor %}
  </p>
  <div class="col"><hr></div>
</div>
<div class="row justify-content-center">
  <p>
    <a href="#0">Novos Emojis</a> |
    <a href="#1">Carinhas e Gestos</a> |
    <a href="#2">Pessoas e Atividades</a> |
    <a href="#3">Simbolos e Objetos</a> |
    <a href="#4">Viajem e Bandeiras</a>
  </p>
</div>
<div class="row mt-3">
  <p class="ml-3 mr-3" id="text-complement">
    Você vai encontrar aqui listas com emojis, incluindo novos emojis, carinhas, sinas, gestos, emojis
    de coração, de animais, símbolos, objetos e bandeiras. Muito fácil de usar, só copiar e colar, seja
    no Facebook, Twitter, Instagram, Discord, Whatsapp, Twitch etc.
  </p>
</div>
{% endblock %}