{% extends 'base.html' %}
{% block side_left %}
<p><a href="#0">Christmas</a></p>
<p><a href="#1">Faces</a></p>
<p><a href="#2">Gestures & Bodyparts</a></p>
{% endblock %}

{% block main %}
<div class="row">
  <h2 id="0">Clássicos Ascii</h2> 
  <p class="emoticon">
  {% for x in classicos %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="0">Feliz</h2> 
  <p class="emoticon">
  {% for x in feliz %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="0">Triste</h2> 
  <p class="emoticon">
  {% for x in triste %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="0">Nervoso</h2> 
  <p class="emoticon">
  {% for x in nervoso %}
  {{ x }}
  {% endfor %}
  </p>
  <h2 id="0">Surpresa</h2> 
  <p class="emoticon">
  {% for x in surpresa %}
  {{ x }}
  {% endfor %}
  <h2 id="0">Saudação</h2> 
  <p class="emoticon">
  {% for x in saudacao %}
  {{ x }}
  {% endfor %}
  <h2 id="0">fofos</h2> 
  <p class="emoticon">
  {% for x in fofos %}
  {{ x }}
  {% endfor %}
  </p>
</div>
{% endblock %}