{% extends 'base.html' %}
{% block title %}Shadesapps - Emoticons e Kaomoji{% endblock %}
{% block side_left %}
<p class="side-block"><a href="#0">ASCII xD</a></p>
<p class="side-block"><a href="#1">Feliz \(^ヮ^)/</a></p>
<p class="side-block"><a href="#2">Triste ಥ_ಥ</a></p>
<p class="side-block"><a href="#3">Nervoso (►__◄)</a></p>
<p class="side-block"><a href="#4">Surpreso ∑(O_O;)</a></p>
<p class="side-block"><a href="#5">Cumprimento (^^ゞ</a></p>
<p class="side-block"><a href="#6">Fofo ฅ^•ﻌ•^ฅ</a></p>
<p class="side-block"><a href="#7">Outros ( ͡° ͜ʖ ͡°)</a></p>
{% endblock %}
{% block main %}
<h2 class="mt-2">Emoticons</h2>
<div class="row">
	<h3 class="ml-4" id="0">ASCII xD</h3>
	<table class="table">
		<tr>	
			<td>;)</td>
			<td>^_~</td>
			<td>;-)</td>
			<td>:)</td>
		</tr>
		<tr>
			<td>^_^</td>
			<td>=P</td>
			<td>^_-</td>
			<td>^^;</td>
		</tr>
		<tr>
			<td>^0^</td>
			<td>:D</td>
			<td>:P</td>
			<td>;~;</td>
		</tr>
		<tr>
			<td>$_$</td>
			<td>:(</td>
			<td>=]</td>
			<td>U_U</td>
		</tr>
		<tr>
			<td>:[</td>
			<td>&gt;:(</td>
			<td>&gt;&quot;&lt;</td>
			<td>):</td>
		</tr>
		<tr>
			<td>=_=</td>
			<td>O.O</td>
			<td>OwO</td>
			<td>&gt;.&lt;</td>
		</tr>
		<tr>	
			<td>~_~</td>
			<td>^o^</td>
			<td>:S</td>
			<td>*_*</td>
		</tr>
		<tr>
			<td>^3^</td>
			<td>:x</td>
			<td>:/</td>
			<td>X_X</td>
		</tr>
		<tr>
			<td>=/</td>
			<td>;(</td>
			<td>T_T</td>
			<td>;[</td>
		</tr>
		<tr>
			<td>+_+</td>
			<td>O_O</td>
			<td>:O</td>
			<td>&not;_&not;</td>
		</tr>
		<tr>
			<td>;_;</td>
			<td>=.=</td>
			<td>;]</td>
			<td>^_+</td>
		</tr>
		<tr>	
			<td>:|</td>
			<td>&gt;_&lt;</td>
			<td>^.^</td>
			<td>^^</td>
		</tr>

	</table>
	<div class="col"><hr></div>
</div>
<div class="row">
	<h3 class="ml-4" id="1">Feliz \(^ヮ^)/</h3>
	<table class="table">
		<tr>
			<td>(｡&bull;́‿&bull;̀｡)</td>
			<td>(*^＠^*)</td>
			<td>(&cap;_&cap;)</td>
		</tr>
		<tr>
			<td>`(*&gt;﹏&lt;*)&prime;</td>
			<td>(＠＾◡＾)</td>
			<td>（*＾-＾*）</td>
		</tr>
		<tr>	
			<td>(*^_^*)</td>
			<td>(❁&acute;◡`❁)</td>
			<td>(⌒&omega;⌒)</td>
		</tr>
		<tr>	
			<td>\(^ヮ^)/</td>
			<td>(≧▽≦)</td>
			<td>≧&deg;◡&deg;≦</td>
		</tr>
		<tr>	
			<td>(＾皿＾)っ</td>
			<td>\^o^/</td>
			<td>(&oline;◡&oline;)</td>
		</tr>
		<tr>	
			<td>╰(*&deg;▽&deg;*)╯</td>
			<td>o(*^▽^*)┛</td>
			<td>o(*￣▽￣*)ブ</td>
		</tr>
		<tr>	
			<td>(⁀ᗢ⁀)</td>
			<td>o(*￣︶￣*)o</td>
			<td>(*^‿^*)</td>
		</tr>
		<tr>	
			<td>ヽ(o^  ^o)ﾉ</td>
			<td>($_$)</td>
			<td>(☆▽☆)</td>
		</tr>
		<tr>	
			<td>(＠⌒ー⌒)ノ</td>
			<td>o(*ﾟ▽ﾟ*)o</td>
			<td>(⌒▽⌒)</td>
		</tr>
		<tr>	
			<td>(*^-^)&rho;</td>
			<td>(^0^*)</td>
			<td>(^v^)</td>
		</tr>
		<tr>	
			<td>(^////^)</td>
			<td>&quot;\(◦◦)/&quot;</td>
			<td>(o^▽^o)</td>
		</tr>
		<tr>	
			<td>(*⌒―⌒*)</td>
			<td>(✯◡✯)</td>
			<td>(◕‿◕)</td>
		</tr>

	</table>
	<div class="col"><hr></div>
</div>
<div class="row">
	<h3 class="ml-4" id="2">Triste ಥ_ಥ</h3>
	<table class="table">
		<tr>
			<td>＞﹏＜</td>
			<td>＞︿＜</td>
			<td>(┬┬﹏┬┬)</td>
		</tr>
		<tr>
			<td>≧ ﹏ ≦</td>
			<td>〒▽〒</td>
			<td>(T_T)</td>
		</tr>
		<tr> 
			<td>(˘_˘٥)</td>
			<td>(≧﹏ ≦)</td>
			<td>(TヘT)</td>
		</tr>
		<tr>  
			<td>~&gt;_&lt;~</td>
			<td>(T﹏T)</td>
			<td>X﹏X</td>
		</tr>
		<tr>  
			<td>ಥ_ಥ</td>
			<td>(~_~;)</td>
			<td>(⌣́_⌣̀)</td>
		</tr>
		<tr>  
			<td>(⌣̩̩́_⌣̩̩̀)</td>
			<td>(҂⌣̀_⌣́)</td>
			<td>(._.)</td>
		</tr>
		<tr>  
			<td>(ノ_&lt;。)</td>
			<td>（&pi;_&pi;）</td>	
			<td>(&acute;-&omega;-`)</td>
		</tr>
		<tr>  
			<td>(&mu;_&mu;)</td>
			<td>( ;&omega;; )</td>
			<td>(｡╯︵╰｡)</td>
		</tr>
		<tr>  
			<td>(&gt;д&lt;)</td>
			<td>〒﹏〒</td>
			<td>(っ˘̩╭╮˘̩)っ</td>
		</tr>

	</table>
	<div class="col"><hr></div>
</div>
<div class="row">
	<h3 class="ml-4" id="3">Nervoso (►__◄)</h3>
	<table class="table">
		<tr>
			<td>╰（‵□&prime;）╯</td>
			<td>(╬▔皿▔)╯</td>
			<td>（︶^︶）</td>
		</tr>
		<tr>
			<td>╚(&bull;⌂&bull;)╝</td>
			<td>┗|｀O&prime;|┛</td>
			<td>(TロT)&sigma;</td>
		</tr>
		<tr>
			<td>&lt;( ‵□&prime;)&gt;</td>
			<td>(` ﾛ &acute;)</td>
			<td>(҂⌣̀_⌣́)</td>
		</tr>
		<tr>
			<td>(ﾉ &deg;益&deg;)ﾉ</td>
			<td>( o｀&omega;&prime;)ノ</td>
			<td>(╯▔皿▔)╯</td>
		</tr>
		<tr>
			<td>(&sigma;｀д&prime;)&sigma;</td>
			<td>(►__◄)</td>
			<td>ᕦ(&ograve;_&oacute;ˇ)ᕤ</td>
		</tr>
		<tr>
			<td>(`Д&acute;)</td>
			<td>(ㆆ_ㆆ)</td>
			<td>ಠ_ಠ┌</td>
		</tr>
		<tr>
			<td>( ಠ_ಠ)┘</td>
			<td>ಠ╭╮ಠ</td>
			<td>눈_눈</td>
		</tr>
		<tr>
			<td>(&not;_&not;&quot;)</td>
			<td>( &bull;̀ .̫ &bull;́ )</td>
			<td>۹( &Ograve;ہ&Oacute; )۶</td>
		</tr>
		<tr>
			<td>(`･︿&acute;･ )</td>
			<td>(; ⌣̀_⌣́)</td>
			<td>(＃`Д&acute;)</td>
		</tr>
		<tr>
			<td>( ` &omega; &acute; )</td>
			<td>(`ー&acute;)</td>
			<td>凸(`△&acute;＃)</td>
		</tr>
		<tr>
			
		</tr>
	</table>
	<div class="col"><hr></div>
</div>
<div class="row">
	<h3 class="ml-4" id="4">Surpreso ∑(O_O;)</h3>
	<table class="table">
		<tr>
			<td>w(&deg;ｏ&deg;)w</td>
			<td>(⊙ｏ⊙)</td>
			<td>ヽ(&deg;〇&deg;)ﾉ</td>
		</tr>
		<tr>
			<td>&Sigma;(O_O)</td>
			<td>(⊙_⊙;)</td>
			<td>&Sigma;(&deg;ロ&deg;)</td>
		</tr>
		<tr>
			<td>(⊙_⊙)</td>
			<td>(o_O)</td>
			<td>(O_O;)</td>
		</tr>
		<tr>
			<td>(O.O)</td>
			<td>&Sigma;(□_□)</td>
			<td>&sum;(O_O;)</td>
		</tr>
		<tr>
			<td>(&deg;ロ&deg;)!</td>
			<td>(＠_＠;)</td>
			<td>(o_O)!</td>
		</tr>
		<tr>
			<td>(□_□)</td>
			<td>(&gt;&bull;o&bull;)&gt;</td>
		</tr>
	</table>
	<div class="col"><hr></div>
</div>
<div class="row">
	<h3 class="ml-4" id="5">Cumprimento (^^ゞ</h3>
	<table class="table">
		<tr>
			<td>ヾ(&bull;&omega;&bull;`)o</td>
			<td>\(￣︶￣*\))</td>
			<td>(* ￣3)(&epsilon;￣ *)</td>
		</tr>
		<tr>
			<td>(*￣3￣)</td>
			<td>╭( &acute;･･)ﾉ(._.`)</td>
			<td>(｡･&forall;･)ﾉﾞ</td>
		</tr>
		<tr>
			<td>(ToT)/~~~</td>
			<td>(&cup;.&cup; ).zZ!</td>
			<td>(￣o￣).zZ</td>
		</tr>
		<tr>
			<td>(づ￣ 3￣)づ</td>
			<td>❤～\(@^0^@)/</td>
			<td>ヾ(^▽^*)</td>
		</tr>
		<tr>
			<td>v(￣o￣).zZ</td>
			<td>(^_-)db(-_^)</td>
			<td>(&gt;‿◠)</td>
		</tr>
		<tr>
			<td>ヽ(*￣▽￣*)ノ</td>
			<td>(＾Ｕ＾)ノ~ＹＯ</td>
			<td>ヾ(￣▽￣)Bye~</td>
		</tr>
		<tr>
			<td>( ﾟдﾟ)つ Bye</td>
			<td>d=(￣▽￣*)b</td>
			<td>ｄ(╹ڡ╹ )ノ</td>
		</tr>
		<tr>
			<td>(^^ゞ</td>
			<td>~\(≧▽≦)/~</td>
			<td>b(￣▽￣)d</td>
		</tr>
		<tr>
			<td>(☞ﾟヮﾟ)☞</td>
			<td>☜(ﾟヮﾟ☜)</td>
		</tr>
	</table>
	<div class="col"><hr></div>
</div>
<div class="row">
	<h3 class="ml-4" id="6">Fofo ฅ^•ﻌ•^ฅ</h3>
	<table class="table">
		<tr>
 			<td>(✿◡‿◡)</td>
 			<td>(=^ ◡ ^=)</td>
 			<td>(=^･&omega;･^=)</td>
		</tr>
		<tr>
 			<td>V●ᴥ●V</td>
 			<td>(･&omega;&lt;)☆</td>
 			<td>(-'_'-)</td>
		</tr>
		<tr>
 			<td>(* ^ &omega; ^)</td>
 			<td>(&acute;｡&bull; &omega; &bull;｡`)</td>
 			<td>(o･&omega;･o)</td>
		</tr>
		<tr>
 			<td>(&acute;&bull; &omega; &bull;`)</td>
 			<td>(.❛ ᴗ ❛.)</td>
 			<td>(=&cap;&omega;&cap;=)</td>
		</tr>
		<tr>
 			<td>(&frasl; &frasl;&bull;&frasl;&omega;&frasl;&bull;&frasl; &frasl;)</td>
 			<td>(・3・)</td>
 			<td>(&bdquo;&bull; ֊ &bull;&bdquo;)</td>
		</tr>
		<tr>
 			<td>ฅ^&bull;ﻌ&bull;^ฅ</td>
 			<td>(๑˃ᴗ˂)ﻭ</td>
 			<td>(˃ᆺ˂)</td>
		</tr>
	</table>
	<div class="col"><hr></div>
</div>
<div class="row">
	<h3 class="ml-4" id="7">Outros ( ͡° ͜ʖ ͡°)</h3>
	<table class="table">
		<tr>
			<td>(&not;‿&not; )</td>
			<td>( &bull;̀ᴗ&bull;́ )و ̑̑</td>
			<td>(─‿‿─)</td>
		</tr>
		<tr>
			<td>( ͡&deg; ͜ʖ ͡&deg;)</td>
			<td>( ͡~ ͜ʖ ͡&deg;)</td>
			<td>&macr;\_(ツ)_/&macr;</td>
		</tr>
		<tr>
			<td>(≖_≖ )</td>
			<td>ᕙ(⇀‸↼‶)ᕗ</td>
			<td>○|￣|_=3</td>
		</tr>
		<tr>
			<td>&rarr;_&rarr;&larr;_&larr;</td>
			<td>ᓚᘏᗢ</td>
			<td>&quot;ⅽ[ː̠̈ː̠̈ː̠̈]'͌&quot;</td>
		</tr>
		<tr>
			<td>(㇏(&bull;̀ᵥᵥ&bull;́)ノ)</td>
			<td>(─  ‿  ─)</td>
			<td>(ง &bull;_&bull;)ง</td>
		</tr>
	</table>
	<div class="col"><hr></div>
</div>
<div class="row justify-content-center">
	<p>
		<a href="#0">ASCII</a> |
		<a href="#1">Feliz</a> |
		<a href="#2">Triste</a> |
		<a href="#3">Nervoso</a> |
		<a href="#4">Surpreso</a> |
		<a href="#5">Cumprimento</a> |
		<a href="#6">Fofo</a> |
		<a href="#7">Outros</a>
	</p>
</div>
<div class="row mt-3">
	<p id="text-complement">
		Você irá encontrar aqui listas de reações kaomoji, emojis e emoticons Japoneses. Com
		expressões ASCII, feliz, triste, com raiva, surpreso. Além de cumprimentos, emoticons fofos, lenny face e outros,
		para facilmente copiar e colar. Então usar no Discord, Facebook, Twitter, Twitch, Instagram, etc.
	</p>
</div>
{% endblock %}
{% block side_right %}
<p class="side-block"><a href="/en/emoticon">&#127482;&#127480; en</a></p>
<p class="side-block"><a href="/pt/emoticon">&#127463;&#127479; pt-br</a></p>
{% endblock %}