{% extends 'base_home.html' %}
{% load static %}
{% block content %}

<div class="container px-4 px-lg-5">

    <!-- PAGE HEADER -->
    <section>
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0"
            src="{% static 'assets/img/yusuke.jpg' %}"
            alt="yusuke-sunglasses"/>
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Shadesapps</h1>
            <p>
            Shadesapps is a website that gives users free and easy
            web tools and informations to make their lives easier,
            putting everything together in just one place!
            </p>
        </div>
        </div>  
    </section>

    <section>
        <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <figure class="text-end">
                <blockquote class="blockquote">
                    <p>
                    “Inherited Will, The Destiny of the Age,
                    and The Dreams of the People. As long as people 
                    continue to pursue the meaning of Freedom, these
                    things will never cease to be!"
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Gol D. Roger
                </figcaption>
            </figure>
        </div>
        </div>
    </section>

    <!-- CARDS -->
    <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <section>
            <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Convert Case</h2>
                <p class="card-text">
                You can easily use the case converter to generate different styles of text on our convert case online.
                You will just have to input a text of your preference, and then, click on a button which has a style
                or a proper converter of your own choice, so you can just copy and paste it in everywhere.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="/convert-case/">Convert Case</a>
            </div>
            </div>
        </section>
    </div>

    <div class="col-md-4 mb-5">
        <section>
            <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Emojis</h2>
                <p class="card-text">
                Emojis are smileys and ideograms used to represent word, emotion, or an abstract concept,
                mostly used in online chats, and a lot of other sites and apps.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="/emojis/">Emojis</a>
            </div>
            </div>
        </section>
    </div>
    
    <div class="col-md-4 mb-5">
        <section>
            <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Emoticons</h2>
                <p class="card-text">
                Emoticons are like emojis, whoever, they’re made of characters and emoticon with symbols,
                and used to express mostly feelings, when the words are not enough. They are used in Instagram as emoticon Instagram,
                used in Twitter as emoticons for Twitter and either as emoticon Twitter, so that is what do emoticons mean.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="/emoticons/">Emoticons</a>
            </div>
            </div>
        </section>
    </div>
    </div>
</div>
{% endblock %}