{% extends 'base_home.html' %}
{% load static %}
{% block head %}
<title>Shadesapps &#128526; | Emoticons, Emojis y Letras Diferentes</title>
<meta name="description" content="Emoticons &gt;_&lt;, Emojis &#128293; e Letras Diferentes, para &#9986;&#65039; copiar e &#128203; colar. Em modo escuro! &#127770;">

<!-- META SOCIAL MEDIA -->
<meta property="og:title" content="Shadesapps &#128526; | Emoticons, Emojis y Letras Diferentes">
<meta property="og:description" content="Emoticons &gt;_&lt;, Emojis &#128293; y Letras Diferentes, para &#9986;&#65039; copiar y &#128203; collar. ¡En modo oscuro! &#127770;">
<meta property="og:url" content="https://es.shadesapps.com/">

<!-- CANONICAL -->
<link rel="canonical" href="https://es.shadesapps.com/">

<!-- HREFLANG -->
<link rel="alternate" href="https://en.shadesapps.com/" hreflang="en">
<link rel="alternate" href="https://pt.shadesapps.com/" hreflang="pt-br">
<link rel="alternate" href="https://es.shadesapps.com/" hreflang="es"> 
<link rel="alternate" href="https://en.shadesapps.com/" hreflang="x-default">
{% endblock %}
{% block content %}
<div class="container px-4 px-lg-5">
    
    <!-- PAGE HEADER -->
    <section>
        <div class="row gx-4 gx-lg-5 align-items-center my-3">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" 
            src="{% static 'assets/img/yusuke.jpg' %}" 
            alt="yusuke-gafas" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Shadesapps</h1>
            <p>
            Shadesapps es un sitio web que ofrece a los usuarios de forma gratuita y sencilla
            herramientas web e información para facilitarle la vida,
            poniendo todo junto en un solo lugar!
            </p>
        </div>
        </div>
    </section>

    <section>
        <div class="row my-2">
        <div class="col-lg">
            <figure class="text-left">
                <blockquote class="blockquote">
                <p>
                "La ambición heredada, el destino de esta era y los sueños de la gente,
                principios que nadie es capaz de sostener, mientras escucha a las personas que
                busca lo que significa la libertad, ¡estos ideales nunca desaparecerán! "
                </p>
                </blockquote>   
                <figcaption class="blockquote-footer">
                Gol D. Roger
                </figcaption>
            </figure>
        </div>
        </div>
    </section>

    <!-- CARDS -->
    <div class="row gx-4 gx-lg-5 mt-2">
    <div class="col-md-4 mb-5">
        <section>
            <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Letras Diferentes</h2>
                <p class="card-text">
                Las <strong> letras diferentes </strong> que se utilizan en el sitio son
                formado a partir de muchos conjuntos de caracteres
                Unicode utilizado en sistemas de escritura de varios idiomas, pero también,
                utilizado en el sitio para crear diferentes letras de amino, ofreciendo
                más énfasis en los creadores de contenido, ayuda a crear supernombres
                cool con diferentes letras para nick y diferentes letras ff.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="/letras-diferentes/">Letras Diferentes</a>
            </div>
            </div>
        </section>
    </div>

    <div class="col-md-4 mb-5">
        <section>
            <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Emojis</h2>
                <p class="card-text">
                Los emojis son emoticones e ideogramas que se utilizan para representar un
                palabra, una emoción o un concepto abstracto, que se utiliza a menudo en ritmos
                chats en línea desde varios sitios web y aplicaciones.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="/emojis/">Emojis</a>
            </div>
            </div>
        </section>
    </div>

    <div class="col-md-4 mb-5">
        <section>
            <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Emoticons</h2>
                <p class="card-text">
                Los emoticones son como emojis, pero están formados por caracteres y símbolos,
                solía expresar, la mayor parte del tiempo, sentimientos y
                interacciones, cuando las palabras no son suficientes para expresarse.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="/emoticons/">Emoticons</a>
            </div>
            </div>
        </section>
    </div>
    </div>
</div>
{% endblock %}