{% extends 'base.html' %}
{% block main %}
<h2 class="mt-2">SHADESAPPS</h2>
<a href="/en/convert-case" style="text-decoration:none">
	<div class="card mt-3">
		<div class="card-body p-1">
			<p class="mb-0">Emoticons</p>
			<p class="mb-0">𝖆𝖑𝖌𝖚𝖒𝖆 𝖑𝖊𝖙𝖗𝖆 𝖉𝖎𝖋𝖊𝖗𝖊𝖓𝖙𝖊</p>
		</div>
	</div>
</a>
<a href="/en/emoticon" style="text-decoration:none">
	<div class="card mt-3">
		<div class="card-body p-1">
		<p class="mb-0">Emoticons</p>
		<p class="mb-0">;~; :D xD \(^ヮ^)/ ಥ_ಥ</p>
		</div>
	</div>
</a>
<a href="/en/emoji" style="text-decoration:none">
	<div class="card mt-3">
		<div class="card-body p-1">
			<p class="mb-0">Emojis</p>
			<p class="mb-0">&#x1F60E;	&#x1F90C; &#x1F47B;</p>
		</div>
	</div>
</a>
<div class="row mt-5">
  yuiyui
</div>

{% lorem 1 p%}
{% endblock %}