{% extends 'base_home.html' %}
{% block content %}

<div class="container px-4 px-lg-5">
    
    <!-- PAGE HEADER -->
    <section>
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" 
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/b8ee0609-dc82-4347-a0e5-0bd620956bd1-profile_banner-480.jpeg" 
            alt="..." />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Shadesapps</h1>
            <p>
            ta em portuguesssss
            </p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
        </div>
    </section>

    <section>
        <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">ta em portuguess</p>
        </div>
        </div>
    </section>

    <!-- CARDS -->
    <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <section>
            <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Letras Diferentes</h2>
                <p class="card-text">
                As <strong>letras diferentes</strong> utilizadas no site, são
                formadas com base em muitos conjuntos de caracteres
                <a href="https://pt.wikipedia.org/wiki/Unicode">Unicode</a>,
                utilizados em sistemas de escritas de várias linguagens, mas também,
                utilizadas no site para criar letras diferentes amino, oferecendo
                mais destaque aos criadores de conteúdo, ajuda a criar nomes super
                legais com letras diferentes para nick e letras diferentes ff.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="#!">Letras Diferentes</a>
            </div>
            </div>
        </section>
    </div>

    <div class="col-md-4 mb-5">
        <section>
            <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Emojis</h2>
                <p class="card-text">
                Emojis são <a href="https://pt.wikipedia.org/wiki/Smiley">smileys</a>
                e ideogramas utilizados para representar uma
                palavra, uma emoção, ou um conceito abstrato, muito utilizados em bate
                papos online de diversos sites e aplicativos, só aqui no Shadesapps
                você encontrará <strong>emojis online</strong> emojis diferentes e
                emoji significado.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="#!">Emojis</a>
            </div>
            </div>
        </section>
    </div>

    <div class="col-md-4 mb-5">
        <section>
            <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Emoticons</h2>
                <p class="card-text">
                <a href="https://pt.wikipedia.org/wiki/Emoticon">Emoticons</a>
                são como emojis, porém, formados de caracteres e símbolos,
                usados para expressar, na maior parte das vezes, sentimentos e
                interações, quando as palavras não são suficientes para se expressar,
                usados no Whatsapp como emoticons Whatsapp, sendo esse o emoticon
                significado. Também usado como emoticon para Instagram, e emoticons
                Facebook para <strong>mais visibilidade</strong>.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="#!">Emoticons</a>
            </div>
            </div>
        </section>
    </div>
    </div>
</div>
{% endblock %}