{% load static %}

{% if not '/' == request.path %}
<footer class="container-fluid text-center">
	{% if '/en/' in request.path %}
	<p class="text-secondary">
		<a href="/en/emoji">Emojis</a> |
		<a href="/en/emoticon">Emoticons</a> |
		<a href="/en/convert-case">Convert Case</a>
	</p>
	<p class="text-secondary mb-0">Words Can't Hurt Me These Shades Are Gucci &#128526;</p>
	<p class="text-secondary mb-0">Developed with &#128153; by Hireki | &copy 2021</p>
	{% else %}
	<p class="text-secondary">
		<a href="/pt/emoji">Emojis</a> |
		<a href="/pt/emoticon">Emoticons</a> |
		<a href="/pt/convert-case">Letras Diferentes</a>
	</p>
	<p class="text-secondary mb-0">Words Can't Hurt Me These Shades Are Gucci &#128526;</p>
	<p class="text-secondary mb-0">Desenvolvido com &#128153; por Hireki | &copy 2021</p>
	{% endif %}
{% else %}
<footer class="fixed-bottom">
	{% if 'pt-' in request.META.HTTP_ACCEPT_LANGUAGE %}
	<span class="text-secondary nav justify-content-center">
		<a href="/pt/emoji">Emojis</a>&nbsp;|&nbsp;
		<a href="/pt/emoticon">Emoticons</a>&nbsp;|&nbsp; 
		<a href="/pt/convert-case">Letras Diferentes</a>
	</span>
	<p class="text-secondary mb-0 nav justify-content-center">Words Can't Hurt Me These Shades Are Gucci &#128526;</p>
	<p class="text-secondary mb-0 nav justify-content-center">Desenvolvido com &#128153; por Hireki | &copy 2021</p>
	{% else %}
	<span class="text-secondary nav justify-content-center">
		<a href="/en/emoji">Emojis</a>&nbsp;|&nbsp;
		<a href="/en/emoticon">Emoticons</a>&nbsp;|&nbsp;
		<a href="/en/convert-case">Convert Case</a>
	</span>
	<p class="text-secondary mb-0 nav justify-content-center">Words Can't Hurt Me These Shades Are Gucci &#128526;</p>
	<p class="text-secondary mb-0 nav justify-content-center">Developed with &#128153; by Hireki | &copy 2021</p>
	{% endif %}
{% endif %}
</footer>
<script src="{% static 'vendor/jquery/jquery.slim.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

