{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if transl.desc %}
<meta name="description" content="{{ transl.desc }}">
{% endif %}
<link rel="shortcut icon" href="{% static 'vendor/favicon.svg' %}" type="image/x-icon">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'vendor/css/style.css'%}" rel="stylesheet">
<script data-ad-client="ca-pub-8651492980689040" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
