{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand m-0 p-0" href="/">
                <img class="me-2" src="{% static 'assets/img/favicon/favicon-32x32.png' %}" alt="favicon-shadesapps">
                Shadesapps
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active">
                            <form action="{% url 'dark' %}" method="POST" class="form-check form-switch m-0">{% csrf_token %}
                                <input class="form-check-input bg-light" type="checkbox" id="flexSwitchCheckDefault" onChange="this.form.submit()" name="dark-mode" value="dark" {{ request.session.dark }}>
                                <label class="form-check-label nav-link active d-inline" for="flexSwitchCheckDefault">Dark Mode</label>
                            </form>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="/emojis/">Emojis</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/emoticons/">Emoticons</a></li>
                    {% if 'https://en.shadesapps.com/' in request.build_absolute_uri %}
                    <li class="nav-item"><a class="nav-link active" href="/convert-case/">Convert Case</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link active" href="/letras-diferentes/">Letras Diferentes</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>	
    </nav>
</header>