{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-touch-icon.png'%}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'assets/img/favicon/site.webmanifest' %}">
<link rel="shortcut icon" href="{% static 'assets/img/favicon/favicon.ico' %}" type="image/x-icon">

<!-- Core theme CSS (includes Bootstrap)-->
{% if not request.session.dark %}
<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
{% else %}
<link href="{% static 'assets/bootstrap/css/bootstrap-cyborg.min.css' %}" rel="stylesheet" />
{% endif %}