{% load static %}
{% load hosts %}
<nav>
    <div class="card mb-4">
        <div class="card-header">
            <p class="card-text">
            {% if 'https://en.shadesapps.com/' == request.build_absolute_uri %}
                Languages
            {% else %}
                Idiomas
            {% endif %}
            </p>
        </div>
    <div class="card-body">
    <div class="row">
    <div class="col">
        <a href="https://en.shadesapps.com/">
            <div class="input-group mb-3 d-flex">
                <span class="input-group-text" id="basic-addon1"><img src="{% static 'assets/img/usa.png' %}" width="16" height="16" alt="United States of America flag"></span>
                <span class="form-control text-primary">en-US</span>
            </div>
        </a>
        <a href="https://pt.shadesapps.com/">
            <div class="input-group mb-3 d-flex">
                <span class="input-group-text" id="basic-addon1"><img src="{% static 'assets/img/br.png' %}" width="16" height="16" alt="Brazil flag"></span>
                <span class="form-control text-primary">pt-BR</span>
            </div>
        </a>
        <a href="https://es.shadesapps.com/">
            <div class="input-group mb-3 d-flex">
                <span class="input-group-text" id="basic-addon1"><img src="{% static 'assets/img/esp.png' %}" width="16" height="16" alt="Spain flag"></span>
                <span class="form-control text-primary">es-ES</span>
            </div>
        </a>
    </div>
    </div>
    </div>
    </div>
</nav>
