{% load static %}
<div class="card mb-4">
    <div class="card-header">Languages</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3 d-flex">
                    <span class="input-group-text" id="basic-addon1"><img src="{% static 'assets/img/usa.png' %}"></span>
                    <span class="form-control">en-US</span>
                </div>
                <div class="input-group mb-3 d-flex">
                    <span class="input-group-text" id="basic-addon1"><img src="{% static 'assets/img/br.png' %}"></span>
                    <span class="form-control">pt-BR</span>
                </div>
                <div class="input-group mb-3 d-flex">
                    <span class="input-group-text" id="basic-addon1"><img src="{% static 'assets/img/esp.png' %}"></span>
                    <span class="form-control">es-ES</span>
                </div>
            </div>
        </div>
    </div>
</div>