{% extends 'base.html' %}
{% block content %}
<!-- SECTION ALERT -->
{% if alert %}
<section>
	<div class="alert alert-{{ alert }}" role="alert">
		Very large text, only part of it has been converted.
	</div>
</section>
{% endif %}

<!-- CONVERT CASE -->
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h1 class="card-title h2">Convert Case</h1>
	</div>

	<div class="card-body">
		<form action="{% url 'convertcase' %}" method="POST">{% csrf_token %}
			<label for="textArea" class="form-label">Insert your text below and click in one button</label>
			<textarea class="form-control mb-2" name="text_area" id="textArea" rows="3" autofocus></textarea>
			{% if textarearesponse %}
			<textarea id="textAreaResponse" class="form-control mb-2 mt-2" rows="3" readonly>{{ textarearesponse }}</textarea>
			{% endif %}
			<div class="d-flex flex-wrap">
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="0">UPPER</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="1">Capitalized</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="2">lower</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="3">𝔉𝔯𝔞𝔨𝔱𝔲𝔯</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="4">𝕱𝖗𝖆𝖐𝖙𝖚𝖗 𝕭𝖔𝖑𝖉</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="5">𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="6">𝔻𝕠𝕦𝕓𝕝𝕖 𝕊𝕥𝕣𝕦𝕔𝕜</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="7">𝒮𝒸𝓇𝒾𝓅𝓉</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="8">𝓢𝓬𝓻𝓲𝓹𝓽 𝓑𝓸𝓵𝓭</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="9">🅝🅔🅖🅐🅣🅘🅥🅔 🅒🅘🅡🅒🅛🅔🅓</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="10">🅒🅘🅡🅒🅛🅔🅓</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="11">🅂🅀🅄🄰🅁🄴🄳</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="12">🆂🆀🆄🅰🆁🅴🅳 🅽🅴🅶🅰🆃🅸🆅🅴</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="13">𝐒𝐞𝐫𝐢𝐟 𝐁𝐨𝐥𝐝</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="14">𝑆𝑒𝑟𝑖𝑓 𝐼𝑡𝑎𝑙𝑖𝑐</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="15">𝑺𝒆𝒓𝒊𝒇 𝑩𝒐𝒍𝒅 𝑰𝒕𝒂𝒍𝒊𝒄</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="16">𝖲𝖺𝗇𝗌-𝗌𝖾𝗋𝗂𝖿</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="17">𝗦𝗮𝗻𝘀-𝘀𝗲𝗿𝗶𝗳 𝗕𝗼𝗹𝗱</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="18">𝘚𝘢𝘯𝘴-𝘴𝘦𝘳𝘪𝘧 𝘐𝘵𝘢𝘭𝘪𝘤</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="19">𝙎𝙖𝙣𝙨-𝙨𝙚𝙧𝙞𝙛 𝘽𝙤𝙡𝙙 𝙄𝙩𝙖𝙡𝙞𝙘</button>
			</div>  
		</form>
	</div>
	</div>	
</section>

<!-- TEXTS -->
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h2 class="card-title h3">How to use the case converter ?</h2>
	</div>

	<div class="card-body">
		<p class="card-text">
		You can easily use the caseconverter to generate <strong>different</strong>
		styles of text on our convert case online. You will just have to
		input a text of your preference, and then, click on a button which
		has a style or a proper case converter of your own choice, so you
		can just copy and paste it in every flex-fillwhere. Our case converter net
		supports all letters, and plus, it is a case converter free.
		</p>
		<p class="card-text">
		You can also use the convert case to generate different styles of
		text, that can be <strong>handy</strong> and one of the best choice
		for your business or hobby when dealing with <a
		href="https://en.wikipedia.org/wiki/YouTube">Youtube</a> titles,
		Twitch, and so on, giving it more awareness and popularity with
		random case converter and alternating case converter
		</p>
	</div>
	</div>
</section>

<section>
	<div class="card mb-4">
	<div class="card-header">
		<h2 class="card-title h3">Upper Case</h2>
	</div>
	<div class="card-body">
		<p class="card-text">
		The uppercase converter will <strong>allow</strong> you to convert
		to uppercase in <a
		href="https://en.wikipedia.org/wiki/Microsoft_Excel">Excel</a>,
		you will just have to copy the words and letters of your very flex-fill
		choice, paste them on the text area and then, click in UPPER, and
		that’s pretty much it.
		</p>
	</div>
	</div>
</section>

<section>
	<div class="card mb-4">
	<div class="card-header">
		<h2 class="card-title h3">Lower Case</h2>
	</div>
	<div class="card-body">
		<p class="card-text">
		The lowercase converter can help you to uncapitalize your text, to
		<strong>do the trick</strong> you just have to copy your text to the
		text area, and then click on lower, and that’s basically it, all
		your capitalized letters, have just been transformed into lower. So
		you can use it as a convert case in word, or even a convert case in
		excel.
		</p>
	</div>
	</div>
</section>

<section>
	<div class="card mb-4">
	<div class="card-header">
		<h2 class="card-title h3">Capitalized Case</h2>
	</div>
	<div class="card-body">
		<p class="card-text">
		<strong>Go ahead, mr. Joestar</strong>, and pick a Capitalized Case
		converter, if you want to convert all first letters of each word
		into upper case, till there’s no one left. Then, you can use it’s
		case converter tool to convert case excel or even convert case in <a
		href="https://en.wikipedia.org/wiki/Microsoft_Word">Word</a>.
		</p>
	</div>
	</div>
</section>

<section>
	<div class="card mb-4">
	<div class="card-header">
		<h3 class="card-title">Fancy Fonts</h3>
	</div>
	<div class="card-body">
		<p class="card-text">
		Come and check out our font changer for <strong>straightforwardly</strong>
		converting your text and all it’s letters to fancy and cool fonts,
		so you can easily copy and paste ‘em in social media, like: Twitter,
		Instagram, <a
			href="https://en.wikipedia.org/wiki/Discord_(software)">Discord</a>,
		Facebook, TikTok, Twitch and Reddit. To stand apart and get more
		awareness and boost your business and social page.
		</p>
		<p class="card-text">
		It can also be used even for nicks and nicknames in games, like:
		League of Legends, Wild Rift, Fortnite, PUBG, Among US, and many
		others.
		</p>
	</div>
	</div>
</section>
{% endblock %}