{% extends 'base.html' %}
{% block head %}
<title>Letras Diferentes | Shadesapps &#128526; - Modo Oscuro &#127770;</title>
<meta name="description" content="Letras diferentes y fuentes geniales, para &#9986;&#65039; copiar y &#128203; collar. Con MAYÚSCULAS, MAYÚSCULAS y diferentes tipos de letra">

<!-- META SOCIAL MEDIA -->
<meta property="og:title" content="Letras Diferentes | &#128526; Shadesapps - Modo Oscuro &#127770;">
<meta property="og:description" content="Letras diferentes y fuentes geniales, para &#9986;&#65039; copiar y &#128203; collar. Con MAYÚSCULAS, MAYÚSCULAS y diferentes tipos de letra">
<meta property="og:url" content="https://es.shadesapps.com/letras-diferentes/">

<!-- CANONICAL -->
<link rel="canonical" href="https://es.shadesapps.com/letras-diferentes/">

<!-- HREFLANG -->
<link rel="alternate" href="https://en.shadesapps.com/convert-case/" hreflang="en">
<link rel="alternate" href="https://pt.shadesapps.com/letras-diferentes/" hreflang="pt-br">
<link rel="alternate" href="https://es.shadesapps.com/letras-diferentes/" hreflang="es"> 
<link rel="alternate" href="https://en.shadesapps.com/convert-case/" hreflang="x-default">
{% endblock %}
{% block content %}
{% if alert %}
<section>
	<div class="alert alert-{{ alert }}" role="alert">
		Texto muy grande, solo una parte se ha convertido.
	</div>
</section>
{% endif %}
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h1 class="card-title h2">Letras Diferentes</h1>
	</div>

	<div class="card-body">
		<form action="{% url 'convertcase' %}" method="POST">{% csrf_token %}
			<label for="textArea" class="form-label">Ingrese su texto a continuación y haga clic en uno de los botones</label>
			<textarea class="form-control mb-2" name="text_area" id="textArea" rows="3" autofocus></textarea>
			{% if textarearesponse %}
			<textarea id="textAreaResponse" class="form-control mb-2 mt-2" rows="3" readonly>{{ textarearesponse }}</textarea>
			{% endif %}
			<div class="d-flex flex-wrap">
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="0">UPPER</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="1">Capitalized</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="2">lower</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="3">𝔉𝔯𝔞𝔨𝔱𝔲𝔯</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="4">𝕱𝖗𝖆𝖐𝖙𝖚𝖗 𝕭𝖔𝖑𝖉</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="5">𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="6">𝔻𝕠𝕦𝕓𝕝𝕖 𝕊𝕥𝕣𝕦𝕔𝕜</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="7">𝒮𝒸𝓇𝒾𝓅𝓉</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="8">𝓢𝓬𝓻𝓲𝓹𝓽 𝓑𝓸𝓵𝓭</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="9">🅝🅔🅖🅐🅣🅘🅥🅔 🅒🅘🅡🅒🅛🅔🅓</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="10">🅒🅘🅡🅒🅛🅔🅓</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="11">🅂🅀🅄🄰🅁🄴🄳</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="12">🆂🆀🆄🅰🆁🅴🅳 🅽🅴🅶🅰🆃🅸🆅🅴</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="13">𝐒𝐞𝐫𝐢𝐟 𝐁𝐨𝐥𝐝</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="14">𝑆𝑒𝑟𝑖𝑓 𝐼𝑡𝑎𝑙𝑖𝑐</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="15">𝑺𝒆𝒓𝒊𝒇 𝑩𝒐𝒍𝒅 𝑰𝒕𝒂𝒍𝒊𝒄</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="16">𝖲𝖺𝗇𝗌-𝗌𝖾𝗋𝗂𝖿</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="17">𝗦𝗮𝗻𝘀-𝘀𝗲𝗿𝗶𝗳 𝗕𝗼𝗹𝗱</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="18">𝘚𝘢𝘯𝘴-𝘴𝘦𝘳𝘪𝘧 𝘐𝘵𝘢𝘭𝘪𝘤</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="19">𝙎𝙖𝙣𝙨-𝙨𝙚𝙧𝙞𝙛 𝘽𝙤𝙡𝙙 𝙄𝙩𝙖𝙡𝙞𝙘</button>
			</div>  
		</form>
	</div>
	</div>	
</section>
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h2 class="card-title h3">¿Qué son las letras diferentes?</h2>
	</div>

	<div class="card-body">
		<p class="card-text">
        las <strong>diferentes letras</strong> utilizadas en el sitio web se forman
        en base a muchos conjuntos de caracteres <a href="https://pt.wikipedia.org/wiki/Unicode">Unicode</a>,
        utilizados en sistemas de escritura de varios idiomas, pero también se utilizan en el sitio web para
        crear diferentes letras amino, ofreciendo más prominencia a los creadores de contenido,
        ayuda a crear supernombres geniales con diferentes letras para nick y letras diferentes ff.
        </p>
		<p class="card-text">
        También puedes crear títulos para tu canal en 
        <a href="https://en.wikipedia.org/wiki/YouTube">Youtube</a> y su
        vive en <a href="https://en.wikipedia.org/wiki/Twitch">Twitch</a>,
        con nuestras diferentes letras minúsculas y diferentes letras grandes,
        que faciliten tu trabajo o afición, dejando los títulos
        mucho más <strong> atractivo </strong> para su consumidor de contenido.
		</p>
		<p class="card-text">
        Obtén más Me gusta en tu <a href = "https://pt.wikipedia.org/wiki/Twitter">Twitter</a>,
        con diferentes letras para twitter, también use nuestros símbolos y letras diferente
        para obtener más <strong>destacados</strong>, combine fuentes para otro tipo de diferentes
        letras, usa diferentes letras tumblr y también letras diferente en desacuerdo.
		</p>
	</div>
	</div>
</section>
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h2 class="card-title h3">¿Cómo hacer letras diferentes?</h2>
	</div>
	<div class="card-body">
		<p class="card-text">
        Con el sistema de Shadesapps de generar diferentes letras, puedes
        <strong> fácilmente </strong> coloque el texto de su elección en el
        sitio web y elija uno de los diferentes estilos de letras
        Lindos diferentes para personalizar tu frase o texto.
		</p>
		<p class="card-text">
        También podrá utilizar nuestro sitio web para generar letras.
        diferente para mellas, diferentes letras para nombres, para usar en
        tu juego <strong> favorito </strong>. Crea tus letras aquí
        diferente para ff, Wild Rift y muchos otros.
		</p>
	</div>
	</div>
</section>
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h3 class="card-title">¿Cómo poner letras diferentes en Instagram ?</h3>
	</div>
	<div class="card-body">
		<p class="card-text">
        <a href="https://en.wikipedia.org/wiki/Instagram">Instagram</a>
        es una red social en línea para compartir videos y fotos, y
        interacción entre sus usuarios. Como otras redes sociales
        famosos, como <a href="https://en.wikipedia.org/wiki/Facebook">Facebook </a>
        y Twitter, intentar destacar de alguna manera es algo <strong> esencial </strong>,
        ya sea para obtener más Me gusta, más seguidores, o incluso ganar algunos clientes
        adicionales para su empresa e impulsar su negocio.
		</p>
		<p class="card-text">
        Aquí es donde aparece Shadesapps para ayudarte, con nuestro
        diferente generador de letras para instagram, con <strong>pocos clics</strong>
        podrás crear varias frases con letras diferente y así dar más protagonismo a tu
        contenido, no solo en Instagram, ¡pero en todas las redes sociales!
		</p>
		<p class="card-text">
        Solo aquí, obtendrás diferentes letras insta, para <strong>copiar y pegar</strong>
        en tu red social favorita. Letras diferentes en instagram, una variedad de
        letras diferentes y hermosas, todas en un solo lugar, shadesapps.com. Aprenda
        a escribir con diferentes letras en Instagram, con muchas fuentes y letras diferentes a las de Instagram.
		</p>
	</div>
	</div>
</section>
{% endblock %}