{% extends 'base.html' %}
{% block language %}pt{% endblock %}
{% block head %}
<title>Letras Diferentes | Shadesapps &#128526; - Modo Escuro &#127770;</title>
<meta name="description" content="Letras Diferentes e Fontes Legais, para &#9986;&#65039; copiar e &#128203; colar. Com MAIÚSCULAS, MINÚSCULAS, e fontes diferentes">

<!-- META SOCIAL MEDIA -->
<meta property="og:title" content="Letras Diferentes | &#128526; Shadesapps - Modo Escuro &#127770;">
<meta property="og:description" content="Letras Diferentes e Fontes Legais, para &#9986;&#65039; copiar e &#128203; colar. Com MAIÚSCULAS, MINÚSCULAS, e fontes diferentes">
<meta property="og:url" content="https://pt.shadesapps.com/letras-diferentes/">

<!-- CANONICAL -->
<link rel="canonical" href="https://pt.shadesapps.com/letras-diferentes/">

<!-- HREFLANG -->
<link rel="alternate" href="https://en.shadesapps.com/convert-case/" hreflang="en">
<link rel="alternate" href="https://pt.shadesapps.com/letras-diferentes/" hreflang="pt-br">
<link rel="alternate" href="https://es.shadesapps.com/letras-diferentes/" hreflang="es"> 
<link rel="alternate" href="https://en.shadesapps.com/convert-case/" hreflang="x-default">
{% endblock %}
{% block content %}
{% if alert %}
<section>
	<div class="alert alert-{{ alert }}" role="alert">
		Texto muito grande, só uma parte do mesmo foi convertida.
	</div>
</section>
{% endif %}
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h1 class="card-title h2">Letras Diferentes</h1>
	</div>

	<div class="card-body">
		<form action="{% url 'convertcase' %}" method="POST">{% csrf_token %}
			<label for="textArea" class="form-label">Insira seu texto abaixo e clique em um dos botões</label>
			<textarea class="form-control mb-2" name="text_area" id="textArea" rows="3" autofocus></textarea>
			{% if textarearesponse %}
			<textarea id="textAreaResponse" class="form-control mb-2 mt-2" rows="3" readonly>{{ textarearesponse }}</textarea>
			{% endif %}
			<div class="d-flex flex-wrap">
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="0">UPPER</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="1">Capitalized</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="2">lower</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="3">𝔉𝔯𝔞𝔨𝔱𝔲𝔯</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="4">𝕱𝖗𝖆𝖐𝖙𝖚𝖗 𝕭𝖔𝖑𝖉</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="5">𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="6">𝔻𝕠𝕦𝕓𝕝𝕖 𝕊𝕥𝕣𝕦𝕔𝕜</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="7">𝒮𝒸𝓇𝒾𝓅𝓉</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="8">𝓢𝓬𝓻𝓲𝓹𝓽 𝓑𝓸𝓵𝓭</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="9">🅝🅔🅖🅐🅣🅘🅥🅔 🅒🅘🅡🅒🅛🅔🅓</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="10">🅒🅘🅡🅒🅛🅔🅓</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="11">🅂🅀🅄🄰🅁🄴🄳</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="12">🆂🆀🆄🅰🆁🅴🅳 🅽🅴🅶🅰🆃🅸🆅🅴</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="13">𝐒𝐞𝐫𝐢𝐟 𝐁𝐨𝐥𝐝</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="14">𝑆𝑒𝑟𝑖𝑓 𝐼𝑡𝑎𝑙𝑖𝑐</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="15">𝑺𝒆𝒓𝒊𝒇 𝑩𝒐𝒍𝒅 𝑰𝒕𝒂𝒍𝒊𝒄</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="16">𝖲𝖺𝗇𝗌-𝗌𝖾𝗋𝗂𝖿</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="17">𝗦𝗮𝗻𝘀-𝘀𝗲𝗿𝗶𝗳 𝗕𝗼𝗹𝗱</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="18">𝘚𝘢𝘯𝘴-𝘴𝘦𝘳𝘪𝘧 𝘐𝘵𝘢𝘭𝘪𝘤</button>
			<button name="b_val" class="btn btn-primary flex-fill rounded-0"value="19">𝙎𝙖𝙣𝙨-𝙨𝙚𝙧𝙞𝙛 𝘽𝙤𝙡𝙙 𝙄𝙩𝙖𝙡𝙞𝙘</button>
			</div>  
		</form>
	</div>
	</div>	
</section>
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h2 class="card-title h3">O que são letras diferentes?</h2>
	</div>

	<div class="card-body">
		<p class="card-text">
		As <strong>letras diferentes</strong> utilizadas no site, são
		formadas com base em muitos conjuntos de caracteres <a 
		href="https://pt.wikipedia.org/wiki/Unicode">Unicode</a>,
		utilizados em sistemas de escritas de várias linguagens, mas também,
		utilizadas no site para criar letras diferentes amino, oferecendo
		mais destaque aos criadores de conteúdo, ajuda a criar nomes super
		legais com letras diferentes para nick e letras diferentes ff.
		</p>
		<p class="card-text">
		Você também poderá criar títulos para seu canal no <a
		href="https://pt.wikipedia.org/wiki/YouTube">Youtube</a> e suas
		lives na <a href="https://pt.wikipedia.org/wiki/Twitch">Twitch</a>,
		com nossas letras diferentes pequenas e letras diferentes grandes,
		que facilitam seu trabalho ou passatempo, deixando os títulos
		muito
		mais <strong>atraentes</strong> para seu consumidor de conteúdo.
		</p>
		<p class="card-text">
		Consiga mais likes no seu <a
		href="https://pt.wikipedia.org/wiki/Twitter">Twitter</a>, com
		letras diferentes para twitter, também use nossos símbolos e
		letras
		diferentes para ganhar mais <strong>destaque</strong>, combine
		fontes para outro tipo
		de letras diferentes, use letras diferentes tumblr e também letras
		diferentes discord.
		</p>
	</div>
	</div>
</section>
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h2 class="card-title h3">Como fazer letras diferentes ?</h2>
	</div>
	<div class="card-body">
		<p class="card-text">
		Com o sistema do Shadesapps de gerar letras diferentes, você pode
		<strong>facilmente</strong> colocar o texto de sua preferência no
		site e ainda escolher, algum entre os vários estilos de letras
		diferentes bonitas para personalizar sua frase ou texto.
		</p>
		<p class="card-text">
		Você também conseguirá usar o nosso site para gerar letras
		diferentes para nicks, letras diferentes para nomes, para usar em
		seu jogo <strong>favorito</strong>. Crie aqui suas letras
		diferentes para ff, Wild Rift, e muitos outros.
		</p>
	</div>
	</div>
</section>
<section>
	<div class="card mb-4">
	<div class="card-header">
		<h3 class="card-title">Como colocar letras diferentes no instagram ?</h3>
	</div>
	<div class="card-body">
		<p class="card-text">
		O <a href="https://pt.wikipedia.org/wiki/Instagram">Instagram</a>
		é uma rede social online de compartilhamentos de vídeos e fotos, e
		interação entre seus usuários. Assim como outras redes sociais
		famosas, como o <a href="https://pt.wikipedia.org/wiki/Facebook">
		Facebook</a> e o Twitter, tentar se destacar de alguma forma é algo
		<strong>essencial</strong>, seja para conseguir mais likes,
		mais seguidores, ou até mesmo conquistar alguns clientes extras
		para sua empresa e impulsionar o seu negócio.
		</p>
		<p class="card-text">
		É nesse ponto que o Shadesapps aparece para te ajudar, com nosso
		gerador de letras diferentes para instagram, com <strong>poucos
		cliques</strong> você conseguirá criar várias frases com letras
		diferentes e assim, dar mais destaque para seu conteúdo, não apenas
		no Instagram, mas em todas redes sociais!
		</p>
		<p class="card-text">
		Só aqui, você conseguirá letras diferentes insta, para <strong>copiar
		e colar</strong> na sua rede social favorita. Letras diferentes
		no instagram, uma variedade de letras diferentes e bonitas, tudo
		em um só lugar, shadesapps.com. Aprenda a escrever com letras diferentes no
		instagram, com várias fontes e letras diferentes do instagram
		</p>
	</div>
	</div>
</section>
{% endblock %}