{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Shadesapps | Convert Case &amp; Fancy Fonts &#128526;{% endblock %}
{% block main %}
<h2 class="mt-2">Convert Case</h2>
<div id="io_forms" class="row justify-content-center mt-2">
{% if not context.form.d_new %}
	{% with val="12"%}
	<div class="col-sm-{{val}}">
	{% endwith %}
{% else %}
	<div class="col-sm-6">
{% endif %}
		<form id="input_form" method="post" name="vaidarcerto">{% csrf_token %}
			{{ context.form|crispy }}
		</form>
	</div>
{% if context.form.d_new %}
	<div class="col-sm-6 mb-2">
		<textarea class="form-control" id="id_origin" rows="5">{{ context.form.d_new }}</textarea>
	</div>
{% endif %}
</div>
<div class="row">
	<form method="post" name="vaidarcerto">{% csrf_token %}
		<div class="form-group text-center ml-2 mr-2">
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-a" name="submit" form="input_form">
				UPPER
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-b" name="submit" form="input_form">
				Title
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-c" name="submit" form="input_form">
				lower
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-d" name="submit" form="input_form">
				𝔉𝔯𝔞𝔨𝔱𝔲𝔯
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-e" name="submit" form="input_form">
				𝕱𝖗𝖆𝖐𝖙𝖚𝖗 𝕭𝖔𝖑𝖉
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-f" name="submit" form="input_form">
				𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-g" name="submit" form="input_form">
				𝔻𝕠𝕦𝕓𝕝𝕖 𝕊𝕥𝕣𝕦𝕔𝕜
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-h" name="submit" form="input_form">
				𝒮𝒸𝓇𝒾𝓅𝓉
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-i" name="submit" form="input_form">
				𝓢𝓬𝓻𝓲𝓹𝓽 𝓑𝓸𝓵𝓭
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-j" name="submit" form="input_form">
				🅝🅔🅖🅐🅣🅘🅥🅔 🅒🅘🅡🅒🅛🅔🅓
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-k" name="submit" form="input_form">
				🅒🅘🅡🅒🅛🅔🅓
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-l" name="submit" form="input_form">
				🅂🅀🅄🄰🅁🄴🄳
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-m" name="submit" form="input_form">
				🆂🆀🆄🅰🆁🅴🅳 🅽🅴🅶🅰🆃🅸🆅🅴
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-n" name="submit" form="input_form">
				𝐒𝐞𝐫𝐢𝐟 𝐁𝐨𝐥𝐝
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-o" name="submit" form="input_form">
				𝑆𝑒𝑟𝑖𝑓 𝐼𝑡𝑎𝑙𝑖𝑐
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-p" name="submit" form="input_form">
				𝑺𝒆𝒓𝒊𝒇 𝑩𝒐𝒍𝒅 𝑰𝒕𝒂𝒍𝒊𝒄
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-q" name="submit" form="input_form">
				𝖲𝖺𝗇𝗌-𝗌𝖾𝗋𝗂𝖿
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-r" name="submit" form="input_form">
				𝗦𝗮𝗻𝘀-𝘀𝗲𝗿𝗶𝗳 𝗕𝗼𝗹𝗱
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-s" name="submit" form="input_form">
				𝘚𝘢𝘯𝘴-𝘴𝘦𝘳𝘪𝘧 𝘐𝘵𝘢𝘭𝘪𝘤
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-t" name="submit" form="input_form">
				𝙎𝙖𝙣𝙨-𝙨𝙚𝙧𝙞𝙛 𝘽𝙤𝙡𝙙 𝙄𝙩𝙖𝙡𝙞𝙘
			</button>
			<button type="submit" class="btn btn-outline-primary btn-lg mb-1" value="btn-u" name="submit" form="input_form">
				pǝʇɹǝʌuI
			</button>
		</div>
	</form>
</div>
<hr>
<div class="row mt-3">
	<p id="text-complement">
		You can easily use the case converter for generate different styles of text, including UPPERCASE,
		lowercase and Title Case - capitalizes the first letter of each word -, that can be handy
		when dealing with Youtube titles and the like.
		You can also use the font changer for straightforwardly convert your text and letters, to fancy 
		and awesome fonts, for easily copy and paste 'em in Twitter, Instagram, Discord, Facebook, Tik
		Tok, Twitch, and many others.
	</p>
</div>
{% endblock %}
{% block side_right %}
<a href="/en/convert-case" style="text-decoration:none"><p class="side-block">&#127482;&#127480; en</p></a>
<a href="/pt/convert-case" style="text-decoration:none"><p class="side-block">&#127463;&#127479; pt-br</p></a>
{% endblock %}