{% extends 'base.html' %}
{% block content %}

<!-- EMOJIS -->
<div class="card mb-4">
    <!-- MAIN TITLE -->
    <section>
        <div class="card-header"><h1 class="card-title h2">Emojis</h1></div>
    </section>

    <div class="card-body">

        <!-- FACES AND GESTURES -->
        <article>
        <div class="card mb-4">
            <header>
                <div class="card-header">
                    <h2 class="card-title h3">Faces and Gestures</h2>
                </div>
            </header>
            <section>
                <div class="card-body">
                <p class="h3">
                {% for x in faces %}
                {{ x }}
                {% endfor %}
                {% for y in gestures %}
                {{ y }}
                {% endfor %}
                </p>
                </div>
            </section>
        </div>
        </article>

        <!-- PEOPLE AND ACTIVITY -->
        <article>
        <div class="card mb-4">
            <header>
                <div class="card-header">
                    <h2 class="card-title h3">People and Activity</h2>
                </div>
            </header>
            <section>
                <div class="card-body">
                <p class="h3">
                {% for x in people%}
                {{ x }}
                {% endfor %}
                {% for y in activity %}
                {{ y }}
                {% endfor %}
                </p>
                </div>
            </section>
        </div>
        </article>

        <!--  NATURE AND FOOD -->
        <article>
        <div class="card mb-4">
            <header>
                <div class="card-header">
                    <h2 class="card-title h3">Nature and Food</h2>
                </div>
            </header>
            <section>
                <div class="card-body">
                <p class="h3">
                {% for x in nature%}
                {{ x }}
                {% endfor %}
                {% for y in food %}
                {{ y }}
                {% endfor %}
                </p>
                </div>
            </section>
        </div>
        </article> 


        <!--  SYMBOLS AND OBJECTS -->
        <article>
        <div class="card mb-4">
            <header>
                <div class="card-header">
                    <h2 class="card-title h3">Symbols and Objects</h2>
                </div>
            </header>
            <section>
                <div class="card-body">
                <p class="h3"> 
                {% for x in symbols %}
                {{ x }}
                {% endfor %}
                {% for y in objects %}
                {{ y }}
                {% endfor %}
                </p>
                </div>
            </section>
        </div>
        </article>
            
        <!--  NEW EMOJIS -->
        <article>
        <div class="card mb-4">
            <header>
                <div class="card-header">
                    <h2 class="card-title h3">New Emojis</h2>
                </div>
            </header>
            <section>
                <div class="card-body">
                <p class="h3">
                {% for x in newemojis %}
                {{ x }}
                {% endfor %}
                </p>
                </div>
            </section>
        </div>  
        </article>
        
    </div>
</div>

<!-- TEXTS -->
<article>
<div class="card mb-4">
    <header>
        <div class="card-header">
        <h2 class="card-title h3">What emoji means ?</h2>
        </div>
    </header>
    <section>
        <div class="card-body">
        <p class="card-text">
        Emojis are smileys and <a href="https://en.wikipedia.org/wiki/Ideogram"></a>
        ideograms used to <strong>represent</strong> word, emotion, or
        an abstract concept, mostly used in online chats, and a lot of other
        sites and apps, just here on Shadesapps, you will find emojis online
        and the emoji meaning.
        </p>
        <p class="card-text">
        Our <strong>giant emojipedia</strong>, has emoji laughing and emoji
        smile to react for
        that meme, emoji thumbs up to agree, emoji movie for that upcoming
        movie, emoji pedia all in here, emoji eyes to say that you are
        watching, emoji thinking for that great idea, emoji fire for that hot
        asf day, emoji faces all over the webpage, Shadesapps to replace that
        emoji keyboard, emoji kiss and emoji heart eyes to send to your
        girlfriend.
        </p>
        </div>
    </section>
</div>
</article>

<article>
<div class="card mb-4">
    <header>
        <div class="card-header">
        <h2 class="card-title h3">How to put emojis in contacts ?</h2>
        </div>
    </header>
    <section>
        <div class="card-body">
        <p class="card-text">
        To put <a href="https://en.wikipedia.org/wiki/Emoji">emoji</a> in
        contacts, both with iphone and android emoji first, it
        is necessary to copy an emoji of your choice, then, you will go to the
        contact of your preference that you want to have one or more emojis,
        and just paste the emoji next to the person's name and <strong>save
        the contact.</strong>
        </p>
        <p class="card-text">
        Being able to use heart emoji to put in contact with the crush, emoji
        wink to send to that crush, emoji sunglasses to represent Shadesapps,
        emoji meme to send to that funny guy, emoji gun for <strong>freedom</strong>,
        emoji
        party for that birthday, emoji hand to point to somewhere and emoji
        symbols to make your own emoji.
        </p>
        <p class="card-text">
        Emoji for thank you, emoji money for that new job, emoji high five
        when you’ve just won the ranked, emoji wave for say bye bye, emoji
        list all over the website, emoji game for playing all night long,
        emoji images and emoji art just print the page, emoji copy for copy
        and paste everywhere, emoji with tongue out to make fun of someone,
        <strong>emoji rock</strong>to some show.
        </p>
        <p class="card-text">
        Emoji camera for ask for all those pictures, emoji unicorn for
        animals, emoji book for that studying day, emoji maker with unicode,
        emoji rocket to celebrate Elon Musk’s rocket launch, emoji yellow
        heart to that friend, emoji png to use instead of normal ones, find
        here what emoji means, all in emoji to copy, emoji question mark to
        ask that big question, <strong>emoji flags of all countries</strong>,
        emoji check to
        see if that friend will come together.
        </p>
        <p class="card-text">
        emoji with glasses and emoji glasses for cosplay of shinpachi, teddy
        bear emoji so cute, emoji names, emoji keyboard mac get all here,
        emoji yellow heart meaning is something, emoji and meanings and emoji
        questions all here, emoji zodiac signs for that cosplay of seiya,
        emoji discord just here in <strong>Shadesapps</strong>, emoji world to
        celebrate earth
        day, emoji ascii in emoticons section and emoji video.
        </p>
        <p class="card-text">
        Emoji windows that is worse than linux, new year emoji to celebrate
        2022, emoji yummy the food is so good, emoji with hearts for your
        boyfriend, emoji work to monday, emoji quiz later in Shadesapps, emoji
        100 meaning is one hundred, emoji windows 10 all over the page, emoji
        2021 emoji and their meaning <strong>just here</strong>, emoji vs
        emoticon in
        Shadesapps, emoji zipper mouth when you have to shut up, emoji for pc
        and emojis online.
        </p>
        <p class="card-text">
        Emoji apple and emoji android for copy and paste, emoji up for like in
        social media, emoji word to use in excel either, polar bear emoji when
        it’s cold, emoji to words to send to your mom, <strong>emoji 8 ball</strong>
        to send to your friends.
        </p>
        </div>
    </section>
</div>
</article>

<article>
<div class="card mb-4">
    <header>
        <div class="card-header">
        <h3 class="card-title">How to use emojis on social networks?</h3>
        </div>
    </header>
    <section>
        <div class="card-body">
        <p class="card-text">
        Give more prominence to your posts with emoji facebook, making them
        more attractive with Instagram emojis, getting more likes and
        attention from your target audience, also use Discord emoji and
        Whatsapp emoji, to give a little help to that joke, iphone emoji and
        android emoji to <strong>use anywhere</strong>.
        </p>
        <p class="card-text">
        With Whatsapp emoji to help you express your messages, Discord emoji
        to use as your server's channel name, emoji for facebook to make your
        page posts more prominent, Twitter emoji to use as nick emojis, emoji
        copy and paste, emoji for Instagram to <strong>promote your business</strong>,
        and also
        emoji Youtube for more prominence in your videos.
        </p>
        </div>
    </section>
</div>
</article>
{% endblock %}