{% extends 'base.html' %}
{% block language %}es{% endblock %}
{% block head %}
<title>Emojis | Shadesapps &#128526; - Mode Oscuro &#127770;</title>
<meta name="description" content="Emojis &#128293; &#129397; &#127752;, a &#9986; &#65039; copiar y &#128203; collar. Con caras, señas, gestos, emojis de corazón, animales y otros.">

<!-- META SOCIAL MEDIA -->
<meta property="Emojis | &#128526; Shadesapps - Mode Oscuro &#127770;">
<meta property="og:description" content="Emojis &#128293; &#129397; &#127752;, a &#9986; &#65039; copiar y &#128203; collar. Con caras, señas, gestos, emojis de corazón, animales y otros.">
<meta property="og:url" content="https://es.shadesapps.com/emojis/">

<!-- CANONICAL -->
<link rel="canonical" href="https://es.shadesapps.com/emojis/">

<!-- HREFLANG -->
<link rel="alternate" href="https://en.shadesapps.com/emojis/" hreflang="en">
<link rel="alternate" href="https://pt.shadesapps.com/emojis/" hreflang="pt-br">
<link rel="alternate" href="https://es.shadesapps.com/emojis/" hreflang="es"> 
<link rel="alternate" href="https://en.shadesapps.com/emojis/" hreflang="x-default">
{% endblock %}
{% block content %}

<!-- EMOJIS -->
<div class="card mb-4">
    <!-- MAIN TITLE -->
    <section>
        <div class="card-header"><h1 class="card-title h2">Emojis</h1></div>
    </section>

    <div class="card-body">

        <!-- FACES AND GESTURES -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="rostros-gestos">Rostros y gestos</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in faces %}
                {{ x }}
                {% endfor %}
                {% for y in gestures %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

        <!-- PEOPLE AND ACTIVITY -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="personas-actividades">Personas y Actividades</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in people %}
                {{ x }}
                {% endfor %}
                {% for y in activity %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

        <!--  NATURE AND FOOD -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="naturaleza-comida">Naturaleza y comida</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in nature %}
                {{ x }}
                {% endfor %}
                {% for y in food %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

        <!--  SYMBOLS AND OBJECTS -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="simbolos-objetos">Simbolos y objetos</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in symbols %}
                {{ x }}
                {% endfor %}
                {% for y in objects %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

        <!--  VIAGEM AND BANDEIRAS -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="viajes-banderas">Viajes y banderas</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in travel %}
                {{ x }}
                {% endfor %}
                {% for y in flags %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>
        
        <!--  NEW EMOJIS -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="nuevos-emojis">Nuevos emojis</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in newemojis %}
                {{ x }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

    </div>
</div>

<!-- TEXTS -->
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title h3">¿Qué es un emoji?</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
        Los emojis son <a href="https://en.wikipedia.org/wiki/Smiley"> emoticonos </a>
        e ideogramas utilizados para representar un
        palabra, una emoción o un concepto abstracto, que se utiliza a menudo en ritmos
        chats en línea desde diferentes sitios web y aplicaciones, solo aquí en Shadesapps
        encontrarás <strong> emojis online </strong> diferentes emojis y
        significado de emoji.
        </p>
        <p class="card-text">
        Nuestro <strong> enorme </strong> emoji preguntó tiene: emoji triste,
        emoji triste para
        situaciones no muy buenas, emoji feliz, emoji feliz o emoji feliz
        para mejores situaciones, emoji de corazón y emoji apasionado para
        envía a tu novia, emoji llorando por situaciones que no
        para contener las lágrimas, emoji pensativo para cuando no sepas
        exactamente qué decir, emoji corazón y emoji sonriendo, emoji
        Sonríe por el momento de esa broma.
        </p>
        <p class="card-text">
        La <strong> gigantesca </strong> emojipedia de Shadesapps también cuenta
        con: emoji meme,
        emoji asustado para reaccionar a esa impactante noticia, emoji beso a
        enviar a la novia, emoji de estrella, emoji de luna para cuando
        estás mirando al cielo, emoji de payaso para cuando te hacen
        idiota, emoji parpadeante, emoji pensante y emoji de cumpleaños para eso
        plan de fiesta sorpresa, emoji de fuego, emoji de fuego para cuando el viernes,
        todos los emoji copian y pegan.
        </p>
        <p class="card-text">
        Emoji para que nick use en ff, emoji sorprendido cuando descubres tu
        fiesta sorpresa, emoji de teclado, dinero de emoji para cuando
        conseguir ese puesto de trabajo, emoji cruz y emoji de cruz para
        cuando quieras desear <strong> fe </strong>, fiesta emoji para el
        viernes, manzana emoji,
        Emoji 3d, emoji gif, emoji de miedo y emoji de relámpago para cuando cae la luz y
        da ese rayo, ojos emoji, ojo emoji que estoy viendo.
        </p>
        <p class="card-text">
        Gafas <strong> Emoji </strong> para estudiar, emoji
        avergonzado,
        emoji vergüenza por esa situación embarazosa, emoji como y emoji
        pulgar hacia arriba para aceptar, emoji cansado para usar después del día de
        trabajo, emoji aplaude para felicitarte desde la distancia, emoji
        teclado, emoji de sol para ese día caluroso y emoji de película para anotar
        esa película con los chicos.
        </p>
        <p class="card-text">
        Bandera de <strong> Brasil </strong> emoji para la copa, amor emoji para
        enviar a
        mamá, emoji enojado para cuando estás enojado, emoji de reserva para el día
        de estudio, emoji celular, emoji de corazón blanco para simbolizar la paz,
        pistolas emoji por nuestra libertad, emoji babeando para reaccionar a esa foto
        del plato, emoji de gato para enviar junto con la foto de la mascota, emoji
        emoji invisible, en línea y emoji vomitando y emoji disgusto por eso
        foto repugnante.
        </p>
        <p class="card-text">
        Emoji <strong> choca esos cinco </strong> para celebrar ese gol, emoji ok
        para confirmar,
        emoji tímido ante una situación embarazosa, mano emoji, mano emoji,
        emoji rezando y emoji rezando por ese día bendito, emoji rosa y
        emoji de mono para meme, 18 emoji para adultos y emoji de medicina
        para recién graduados.
        </p>
    </div>
    </div>
</section>

<section>
    <div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title h3">¿Cómo poner emojis en contactos?</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
        Para poner emoji en contactos, tanto con emoji de iphone como de android
        primero, debes copiar un emoji de tu elección, luego,
        irás al contacto de tu elección que quieras tener uno o
        más emojis y pegue el emoji junto al nombre de la persona y
        <strong> guardar </strong>
        el contacto.
        </p>
        <p class="card-text">
        Poder usar emoji de corazón para ponerse en contacto con el enamoramiento, emoji
        riendo de ese navegante amigo tuyo que puso esa foto del
        itachi de perfil, emoji enojado y emoji enojado para esa persona que solo
        te hace enojar, emoji de payaso y emoji divertido para ese
        amigo tonto, música emoji para ese artista amigo tuyo, emoji lindo y
        emoji kawaii para la persona que te gusta y <strong> emoji japonés </strong> para tu
        amigo otaku.
        </p>
    </div>
    </div>
</section>

<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">¿Cómo usar emojis en las redes sociales?</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        Da más <strong> aspectos destacados </strong> a tus publicaciones con emojis de Facebook,
        dejándolos más
        atractivo con emojis de Instagram, obteniendo más Me gusta y atención de
        su público objetivo, también use emoji Discord y emoji Whatsapp, para dar
        un poco de ayuda en ese chiste, emoji de iphone y emoji de android para
        usar en cualquier lugar.
        </p>
        <p class="card-text">
        Con emoji de <a href="https://pt.wikipedia.org/wiki/WhatsApp"> Whatsapp </a>
        para ayudar a expresar sus mensajes, emoji
        para que Discord lo use como nombre de los canales de su servidor, emoji
        a Facebook para que las publicaciones de su página sean más destacadas,
        Twitter emoji para usar como emojis para nick, emoji whatsapp copy y
        pegar en, emoji en Instagram para <strong> promocionar su empresa </strong>,
        y también emoji de Youtube para más protagonismo en tus vídeos.
        </p>
    </div>
    </div>
</section>
{% endblock %}
{% block side_block %}
<nav>
	<div class="card mb-4">
	<div class="card-header">
		<p class="card-text">Emojis</p>
	</div>
	<div class="card-body">
	<div class="row">
	<div class="col">
		<ul class="list-unstyled mb-0">
			<li><a href="#rostros-gestos">Rostros y gestos 😎👌</a></li>
			<li><a href="#personas-actividades">Personas y Actividades 🥷🪕</a></li>
			<li><a href="#naturaleza-comida">Naturaleza y comida 🐧🍡</a></li>
			<li><a href="#simbolos-objetos">Simbolos y objetos 💖🎐</a></li>
			<li><a href="#viajes-banderas">Viajes y banderas 🚀🏴‍☠️</a></li>
			<li><a href="#nuevos-emojis">Nuevos emojis 😶‍🌫️ ❤️‍🔥</a></li>
		</ul>
	</div>
	</div>
	</div>
	</div>
</nav>
{% endblock %}