{% extends 'base.html' %}
{% block content %}

<!-- EMOJIS -->
<div class="card mb-4">
    <!-- MAIN TITLE -->
    <section>
        <div class="card-header"><h1 class="card-title h2">Emojis</h1></div>
    </section>

    <div class="card-body">

        <!-- FACES AND GESTURES -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3">Carinhas e Gestos</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in faces %}
                {{ x }}
                {% endfor %}
                {% for y in gestures %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

        <!-- PEOPLE AND ACTIVITY -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3">Pessoas e Atividades</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in people %}
                {{ x }}
                {% endfor %}
                {% for y in activity %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

        <!--  NATURE AND FOOD -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3">Natureza e Comidas</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in nature %}
                {{ x }}
                {% endfor %}
                {% for y in food %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

        <!--  SYMBOLS AND OBJECTS -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3">Símbolos e Objetos</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in symbols %}
                {{ x }}
                {% endfor %}
                {% for y in objects %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

        <!--  VIAGEM AND BANDEIRAS -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3">Viagem e bandeiras</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in travel %}
                {{ x }}
                {% endfor %}
                {% for y in flags %}
                {{ y }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>
        
        <!--  NEW EMOJIS -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3">Novos Emojis</h2>
            </div>
            <div class="card-body">
                <p class="card-text h3">
                {% for x in newemojis %}
                {{ x }}
                {% endfor %}
                </p>
            </div>
            </div>
        </section>

    </div>
</div>

<!-- TEXTS -->
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title h3">O que é emoji ?</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
        Emojis são <a href="https://pt.wikipedia.org/wiki/Smiley">smileys</a>
        e ideogramas utilizados para representar uma
        palavra, uma emoção, ou um conceito abstrato, muito utilizados em bate
        papos online de diversos sites e aplicativos, só aqui no Shadesapps
        você encontrará <strong>emojis online</strong> emojis diferentes e
        emoji significado.
        </p>
        <p class="card-text">
        Nossa <strong>enorme</strong> emoji pedia, conta com: emoji triste,
        emoji sad para
        situações não muito boas, emoji feliz, emoji happy ou emoji alegre
        para situações melhores, emoji de coração e emoji apaixonado para
        mandar para sua namorada(o), emoji chorando para situações que não da
        pra segurar as lágrimas, emoji pensativo para quando não souber
        exatamente o que responder, emoji heart e emoji sorrindo, emoji
        sorriso para o momento daquela piada.
        </p>
        <p class="card-text">
        A <strong>gigantesca</strong> emojipedia do shadesapps também conta
        com: emoji meme,
        emoji assustado para reagir aquela notícia chocante, emoji beijo para
        mandar para a namorada, emoji de estrela, emoji lua para quando você
        estiver olhando para o céu, emoji palhaço para quando te fazem de
        idiota, emoji piscando, emoji pensando e emoji aniversário para aquele
        plano da festa surpresa, emoji fogo, emoji de fogo para quando sextar,
        todos emoji copiar e colar.
        </p>
        <p class="card-text">
        Emoji para nick para usar no ff, emoji surpreso quando tu descobre sua
        festa surpresa, emoji teclado, emoji dinheiro para quando você
        consegue aquela vaga de emprego, emoji cruz e emoji de cruz para
        quando quer desejar <strong>fé</strong>, emoji festa para a
        sexta-feira, emoji apple,
        emoji 3d, emoji gif, emoji medo e emoji raio para quando cai a luz e
        dá aquele relâmpago, emoji olhos, emoji olho tô de olho.
        </p>
        <p class="card-text">
        <strong>Emoji</strong> óculos para quando você está estudando, emoji
        envergonhado,
        emoji vergonha para aquela situação constrangedora, emoji like e emoji
        joinha para concordar, emoji cansado para usar depois do dia de
        trabalho, emoji palmas para dar aquele parabéns a distância, emoji
        keyboard, emoji sol para aquele dia quente e emoji filme para marcar
        aquele filme com a galera.
        </p>
        <p class="card-text">
        Emoji bandeira do <strong>Brasil</strong> para a copa, emoji amor para
        mandar para a
        mãe, emoji com raiva para quando você tá bravo, emoji livro para o dia
        de estudo, emoji celular, emoji coração branco para simbolizar a paz,
        emoji arma para nossa liberdade, emoji babando para reagir aquela foto
        do prato, emoji gato para mandar junto com a foto do bichinho, emoji
        invisível, emoji online e emoji vomitando e emoji nojo para aquela
        foto nojenta.
        </p>
        <p class="card-text">
        Emoji <strong>high five</strong> para comemorar aquele gol, emoji ok
        para confirmar,
        emoji timido para situação constrangedora, emoji hand, emoji mão,
        emoji rezando e emoji orando para aquele dia abençoado, emoji rosa, e
        emoji macaco para o meme, emoji 18 para maioridade, e emoji medicina
        para os recém formados.
        </p>
    </div>
    </div>
</section>

<section>
    <div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title h3">Como colocar emojis nos contatos ?</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
        Para colocar emoji nos contatos, tanto com emoji iphone quanto android
        primeiro, é necessário copiar um emoji de sua preferência, depois,
        você irá no contato de sua preferência que você quer que tenha um ou
        mais emojis, e basta colar o emoji ao lado do nome da pessoa e
        <strong>salvar</strong>
        o contato.
        </p>
        <p class="card-text">
        Podendo usar emoji coração para colocar no contato do crush, emoji
        rindo para aquele seu amigo naruteiro que colocou aquela foto do
        itachi de perfil, emoji bravo e emoji raiva para aquela pessoa que só
        te faz passar raiva, emoji de palhaço e emoji engraçado para aquele
        amigo bobo, emoji música para aquele seu amigo artista, emoji fofo e
        emoji kawaii para seu crush e <strong>emoji japonês</strong> para seu
        amigo otaku.
        </p>
    </div>
    </div>
</section>

<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Como usar emojis em redes sociais ?</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        Dê mais <strong>destaque</strong> para seus posts com emojis Facebook,
        os deixando mais
        atraentes com emojis Instagram, conseguindo mais likes e atenção de
        seu público alvo, também use emoji Discord e emoji Whatsapp, para dar
        uma ajudinha naquela piada, emoji de iphone e emoji de android para
        usar em qualquer lugar.
        </p>
        <p class="card-text">
        Com emoji do <a href="https://pt.wikipedia.org/wiki/WhatsApp">Whatsapp</a>
        para ajudar a expressar suas mensagens, emoji
        para Discord para usar como nome dos canais do seu servidor, emoji
        para Facebook para dar mais destaque a suas publicações de página,
        emoji Twitter para usar como emojis para nick, emoji Whatsapp copiar e
        colar para, emoji para Instagram para <strong>promover seu negócio</strong>,
        e também emoji Youtube para mais destaque em seus vídeos.
        </p>
    </div>
    </div>
</section>
{% endblock %}