{% load static %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="robots" content="index, follow, max-snippet:-1"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script data-ad-client="ca-pub-8651492980689040" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% if request.path == '/' %}

<link rel="canonical" href="https://www.shadesapps.com/"/>
<meta name="description" content="Emoticons &gt;_&lt;, Emojis &#128293; and Kaomoji ( ͡° ͜ʖ ͡°), for &#9986;&#65039; copy and &#128203; paste. All in Dark Mode! &#127770;"/>

<meta name="keywords" content="Shadesapps, letras diferentes, convert case, emoji, emoticon">
<meta property="og:type" content="website"/>

<meta property="og:title" content="Shadesapps"/>
<meta property="og:url" content="https://www.shadesapps.com/"/>
<meta property="og:description" content="Emoticons &gt;_&lt;, Emojis &#128293; and Kaomoji ( ͡° ͜ʖ ͡°), for &#9986;&#65039; copy and &#128203; paste. All in Dark Mode! &#127770;"/>

{% elif request.path == '/en/emojis/' %}

<link rel="canonical" href="https://www.shadesapps.com/en/emojis/"/>
<meta name="description" content="Emojis &#129313; &#129397; &#127752;, for &#9986;&#65039; copy and &#128203; paste. Covering new emojis, faces, gestures, symbols, heart emoji, sad emoji, and so many others."/>

<meta name="keywords" content="Shadesapps, emojis, emoji">
<meta property="og:type" content="article">
<meta property="article:tag" content="Shadesapps, emojis, emoji">
<meta property="article:published_time" content="2021-05-03 01:00:00">

<meta property="og:title" content="Emojis"/>
<meta property="og:url" content="https://www.shadesapps.com/en/emojis/"/>
<meta property="og:description" content="Emojis &#129313; &#129397; &#127752;, for &#9986;&#65039; copy and &#128203; paste. Covering new emojis, faces, gestures, symbols, heart emoji, sad emoji, and so many others."/>

<link rel="alternate" hreflang="en" href="https://www.shadesapps.com/en/emojis/"/>
<link rel="alternate" hreflang="pt-br" href="https://www.shadesapps.com/pt/emojis/"/>
<link rel="alternate" hreflang="x-default" href="https://www.shadesapps.com/en/emojis/"/>

{% elif request.path == '/pt/emojis/' %}

<link rel="canonical" href="https://www.shadesapps.com/pt/emojis/"/>
<meta name="description" content="Emojis &#128293; &#129397; &#127752;, para &#9986;&#65039; copiar e &#128203; colar. Com carinhas, sinais, gestos, emojis de coraçao, de animais, e outros."/>

<meta name="keywords" content="Shadesapps, emojis, emoji">
<meta property="og:type" content="article">
<meta property="article:tag" content="Shadesapps, emojis, emoji">
<meta property="article:published_time" content="2021-05-03 01:00:00">
 
<meta property="og:title" content="Emojis"/>
<meta property="og:url" content="https://www.shadesapps.com/pt/emojis/"/>
<meta property="og:description" content="Emojis &#128293; &#129397; &#127752;, para &#9986;&#65039; copiar e &#128203; colar. Com carinhas, sinais, gestos, emojis de coraçao, de animais, e outros."/>

<link rel="alternate" hreflang="en" href="https://www.shadesapps.com/en/emojis/"/>
<link rel="alternate" hreflang="pt-br" href="https://www.shadesapps.com/pt/emojis/"/>
<link rel="alternate" hreflang="x-default" href="https://www.shadesapps.com/en/emojis/"/>

{% elif request.path == '/en/emoticons/' %}

<link rel="canonical" href="https://www.shadesapps.com/en/emoticons/"/>
<meta name="description" content="Emoticons &gt;_&lt; and Kaomoji (✯◡✯), for &#9986;&#65039; copy and &#128203; paste. Covering ASCII emoticons, japanese emoticons, and others."/>

<meta name="keywords" content="Shadesapps, emoticons, emoticon, kaomojis, kaomoji">
<meta property="og:type" content="article">
<meta property="article:tag" content="Shadesapps, emoticons, emoticon, kaomojis, kaomoji">
<meta property="article:published_time" content="2021-05-03 01:00:00">

<meta property="og:title" content="Emoticons and Kaomoji"/>
<meta property="og:url" content="https://www.shadesapps.com/en/emoticons/"/>
<meta property="og:description" content="Emoticons &gt;_&lt; and Kaomoji (✯◡✯), for &#9986;&#65039; copy and &#128203; paste. Covering ASCII emoticons, japanese emoticons, and others."/>

<link rel="alternate" hreflang="en" href="https://www.shadesapps.com/en/emoticons/"/>
<link rel="alternate" hreflang="pt-br" href="https://www.shadesapps.com/pt/emoticons/"/>
<link rel="alternate" hreflang="x-default" href="https://www.shadesapps.com/en/emoticons/"/>

{% elif request.path == '/pt/emoticons/' %}

<link rel="canonical" href="https://www.shadesapps.com/pt/emoticons/"/>
<meta name="description" content="Emoticons &gt;_&lt; e Kaomoji (✯◡✯), para &#9986;&#65039; copiar e &#128203; colar. Com emoticons ASCII, emoticons japoneses, e outros."/>

<meta name="keywords" content="Shadesapps, emoticons, emoticon, kaomojis, kaomoji">
<meta property="og:type" content="article">
<meta property="article:tag" content="Shadesapps, emoticons, emoticon, kaomojis, kaomoji">
<meta property="article:published_time" content="2021-05-03 01:00:00">
 
<meta property="og:title" content="Emoticons e Kaomoji"/>
<meta property="og:url" content="https://www.shadesapps.com/pt/emoticons/"/>
<meta property="og:description" content="Emoticons &gt;_&lt; e Kaomoji (✯◡✯), para &#9986;&#65039; copiar e &#128203; colar. Com emoticons ASCII, emoticons japoneses, e outros."/>

<link rel="alternate" hreflang="en" href="https://www.shadesapps.com/en/emoticons/"/>
<link rel="alternate" hreflang="pt-br" href="https://www.shadesapps.com/pt/emoticons/"/>
<link rel="alternate" hreflang="x-default" href="https://www.shadesapps.com/en/emoticons/"/>

{% elif request.path == '/convert-case/' %}

<link rel="canonical" href="https://www.shadesapps.com/convert-case/"/>
<meta name="description" content="Convert Case and Awesome Fonts, for &#9986;&#65039; copy and &#128203; paste. Covering UPPERCASE, lowercase, Title Case, and cool fonts"/>

<meta name="keywords" content="Shadesapps, convert case, case converter, convertcase, upper case, lower case, title case">
<meta property="og:type" content="article">
<meta property="article:tag" content="Shadesapps, convert case, case converter, convertcase, upper case, lower case, title case">
<meta property="article:published_time" content="2021-05-03 01:00:00">

<meta property="og:title" content="Convert Case"/>
<meta property="og:url" content="https://www.shadesapps.com/convert-case/"/>
<meta property="og:description" content="Convert Case and Awesome Fonts, for &#9986;&#65039; copy and &#128203; paste. Covering UPPERCASE, lowercase, Title Case, and cool fonts"/>

<link rel="alternate" hreflang="en" href="https://www.shadesapps.com/convert-case/"/>
<link rel="alternate" hreflang="pt-br" href="https://www.shadesapps.com/letras-diferentes/"/>
<link rel="alternate" hreflang="x-default" href="https://www.shadesapps.com/convert-case/"/>

{% elif request.path == '/letras-diferentes/' %}

<link rel="canonical" href="https://www.shadesapps.com/letras-diferentes/"/>
<meta name="description" content="Letras Diferentes e Fontes Legais, para &#9986;&#65039; copiar e &#128203; colar. Com MAIÚSCULAS, MINÚSCULAS, e fontes diferentes"/>

<meta name="keywords" content="Shadesapps, letras diferentes, fontes personalizadas">
<meta property="og:type" content="article">
<meta property="article:tag" content="Shadesapps, letras diferentes, fontes personalizadas">
<meta property="article:published_time" content="2021-05-03 01:00:00">
 
<meta property="og:title" content="Letras Diferentes"/>
<meta property="og:url" content="https://www.shadesapps.com/letras-diferentes/"/>
<meta property="og:description" content="Letras Diferentes e Fontes Legais, para &#9986;&#65039; copiar e &#128203; colar. Com MAIÚSCULAS, MINÚSCULAS, e fontes diferentes"/>

<link rel="alternate" hreflang="en" href="https://www.shadesapps.com/convert-case/"/>
<link rel="alternate" hreflang="pt-br" href="https://www.shadesapps.com/letras-diferentes/"/>
<link rel="alternate" hreflang="x-default" href="https://www.shadesapps.com/convert-case/"/>

<!-- fixing canonicals -->
{% elif request.path == '/pt/emoji/' or request.path == '/pt/emoji' %}
<link rel="canonical" href="https://www.shadesapps.com/pt/emojis/"/>
{% elif request.path == '/en/emoji/' or request.path == '/en/emoji' %}
<link rel="canonical" href="https://www.shadesapps.com/en/emojis/"/>

{% elif request.path == '/pt/emoticon/' or request.path == '/pt/emoticon' %}
<link rel="canonical" href="https://www.shadesapps.com/pt/emoticons/"/>
{% elif request.path == '/en/emoticon/' or request.path == '/en/emoticon' %}
<link rel="canonical" href="https://www.shadesapps.com/en/emoticons/"/>

{% elif request.path == '/pt/convert-case/' or request.path == '/pt/convert-case' %}
<link rel="canonical" href="https://www.shadesapps.com/letras-diferentes/"/>
{% elif request.path == '/en/convert-case/' or request.path == '/en/convert-case' %}
<link rel="canonical" href="https://www.shadesapps.com/convert-case/"/>


{% endif %}

<meta property="og:site_name" content="Shadesapps"/>
<meta property="og:image" content="https://www.shadesapps.com/static/vendor/img/favicons/favicon-32x32.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'vendor/img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'vendor/img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'vendor/img/favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'vendor/img/favicons/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'vendor/img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#ff0000">
<link rel="shortcut icon" href="{% static 'vendor/img/favicons/favicon.ico' %}"type="image/x-icon"/>

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet"/>
<link href="{% static 'vendor/css/style.css'%}" rel="stylesheet"/>