{% extends 'base.html' %}
{% block head %}
<title>Emoticons e Kaomoji | Shadesapps &#128526; - Modo Escuro &#127770;</title>
<meta name="description" content="Emoticons &gt;_&lt; e Kaomoji (✯◡✯), para &#9986;&#65039; copiar e &#128203; colar. Com emoticons ASCII, emoticons japoneses, e outros.">

<!-- META SOCIAL MEDIA -->
<meta property="Emoticons e Kaomoji | &#128526; Shadesapps - Modo Escuro &#127770;">
<meta property="og:description" content="Emoticons &gt;_&lt; e Kaomoji (✯◡✯), para &#9986;&#65039; copiar e &#128203; colar. Com emoticons ASCII, emoticons japoneses, e outros.">
<meta property="og:url" content="https://pt.shadesapps.com/emoticons/">

<!-- CANONICAL -->
<link rel="canonical" href="https://pt.shadesapps.com/emoticons/">

<!-- HREFLANG -->
<link rel="alternate" href="https://en.shadesapps.com/emoticons/" hreflang="en">
<link rel="alternate" href="https://pt.shadesapps.com/emoticons/" hreflang="pt-br">
<link rel="alternate" href="https://es.shadesapps.com/emoticons/" hreflang="es"> 
<link rel="alternate" href="https://en.shadesapps.com/emoticons/" hreflang="x-default">
{% endblock %}
{% block content %}
<!-- Emoticons -->
<div class="card mb-4">

    <!-- MAIN TITLE -->
    <section>
        <div class="card-header">
            <h1 class="card-title h2">Emoticons</h1>
        </div>
    </section>
    
    <div class="card-body">

        <!-- ASCII -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="ascii">ASCII xD</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped text-center">
                    <tr>
                        <td>;)</td>
                        <td>^_~</td>
                        <td>;-)</td>
                        <td>:)</td>
                    </tr>
                    <tr>
                        <td>^_^</td>
                        <td>=P</td>
                        <td>^_-</td>
                        <td>^^;</td>
                    </tr>
                    <tr>
                        <td>^0^</td>
                        <td>:D</td>
                        <td>:P</td>
                        <td>;~;</td>
                    </tr>
                    <tr>
                        <td>$_$</td>
                        <td>:(</td>
                        <td>=]</td>
                        <td>U_U</td>
                    </tr>
                    <tr>
                        <td>:[</td>
                        <td>&gt;:(</td>
                        <td>&gt;&quot;&lt;</td>
                        <td>):</td>
                    </tr>
                    <tr>
                        <td>=_=</td>
                        <td>O.O</td>
                        <td>OwO</td>
                        <td>&gt;.&lt;</td>
                    </tr>
                    <tr>
                        <td>~_~</td>
                        <td>^o^</td>
                        <td>:S</td>
                        <td>*_*</td>
                    </tr>
                    <tr>
                        <td>^3^</td>
                        <td>:x</td>
                        <td>:/</td>
                        <td>X_X</td>
                    </tr>
                    <tr>
                        <td>=/</td>
                        <td>;(</td>
                        <td>T_T</td>
                        <td>;[</td>
                    </tr>
                    <tr>
                        <td>+_+</td>
                        <td>O_O</td>
                        <td>:O</td>
                        <td>&not;_&not;</td>
                    </tr>
                    <tr>
                        <td>;_;</td>
                        <td>=.=</td>
                        <td>;]</td>
                        <td>^_+</td>
                    </tr>
                    <tr>
                        <td>:|</td>
                        <td>&gt;_&lt;</td>
                        <td>^.^</td>
                        <td>^^</td>
                    </tr>
                </table>
            </div>
            </div>
        </section>

        <!-- Happy -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="feliz">Feliz \(^ヮ^)/</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped text-center">
                    <tr>
                        <td>(｡&bull;́‿&bull;̀｡)</td>
                        <td>(*^＠^*)</td>
                        <td>(&cap;_&cap;)</td>
                    </tr>
                    <tr>
                        <td>`(*&gt;﹏&lt;*)&prime;</td>
                        <td>(＠＾◡＾)</td>
                        <td>（*＾-＾*）</td>
                    </tr>
                    <tr>
                        <td>(*^_^*)</td>
                        <td>(❁&acute;◡`❁)</td>
                        <td>(⌒&omega;⌒)</td>
                    </tr>
                    <tr>
                        <td>\(^ヮ^)/</td>
                        <td>(≧▽≦)</td>
                        <td>≧&deg;◡&deg;≦</td>
                    </tr>
                    <tr>
                        <td>(＾皿＾)っ</td>
                        <td>\^o^/</td>
                        <td>(&oline;◡&oline;)</td>
                    </tr>
                    <tr>
                        <td>╰(*&deg;▽&deg;*)╯</td>
                        <td>o(*^▽^*)┛</td>
                        <td>o(*￣▽￣*)ブ</td>
                    </tr>
                    <tr>
                        <td>(⁀ᗢ⁀)</td>
                        <td>o(*￣︶￣*)o</td>
                        <td>(*^‿^*)</td>
                    </tr>
                    <tr>
                        <td>ヽ(o^ ^o)ﾉ</td>
                        <td>($_$)</td>
                        <td>(☆▽☆)</td>
                    </tr>
                    <tr>
                        <td>(＠⌒ー⌒)ノ</td>
                        <td>o(*ﾟ▽ﾟ*)o</td>
                        <td>(⌒▽⌒)</td>
                    </tr>
                    <tr>
                        <td>(*^-^)&rho;</td>
                        <td>(^0^*)</td>
                        <td>(^v^)</td>
                    </tr>
                    <tr>
                        <td>(^////^)</td>
                        <td>&quot;\(◦◦)/&quot;</td>
                        <td>(o^▽^o)</td>
                    </tr>
                    <tr>
                        <td>(*⌒―⌒*)</td>
                        <td>(✯◡✯)</td>
                        <td>(◕‿◕)</td>
                    </tr>
                </table>
            </div>
            </div>
        </section>

        <!-- Sad -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="triste">Triste ಥ_ಥ</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped text-center">
                    <tr>
                        <td>＞﹏＜</td>
                        <td>＞︿＜</td>
                        <td>(┬┬﹏┬┬)</td>
                    </tr>
                    <tr>
                        <td>≧ ﹏ ≦</td>
                        <td>〒▽〒</td>
                        <td>(T_T)</td>
                    </tr>
                    <tr>
                        <td>(˘_˘٥)</td>
                        <td>(≧﹏ ≦)</td>
                        <td>(TヘT)</td>
                    </tr>
                    <tr>
                        <td>~&gt;_&lt;~</td>
                        <td>(T﹏T)</td>
                        <td>X﹏X</td>
                    </tr>
                    <tr>
                        <td>ಥ_ಥ</td>
                        <td>(~_~;)</td>
                        <td>(⌣́_⌣̀)</td>
                    </tr>
                    <tr>
                        <td>(⌣̩̩́_⌣̩̩̀)</td>
                        <td>(҂⌣̀_⌣́)</td>
                        <td>(._.)</td>
                    </tr>
                    <tr>
                        <td>(ノ_&lt;。)</td>
                        <td>（&pi;_&pi;）</td>
                        <td>(&acute;-&omega;-`)</td>
                    </tr>
                    <tr>
                        <td>(&mu;_&mu;)</td>
                        <td>( ;&omega;; )</td>
                        <td>(｡╯︵╰｡)</td>
                    </tr>
                    <tr>
                        <td>(&gt;д&lt;)</td>
                        <td>〒﹏〒</td>
                        <td>(っ˘̩╭╮˘̩)っ</td>
                    </tr>
                </table>
            </div>
            </div>
        </section>

        <!-- Anger -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="nervoso">Nervoso (►__◄)</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped text-center">
                    <tr>
                        <td>╰（‵□&prime;）╯</td>
                        <td>(╬▔皿▔)╯</td>
                        <td>（︶^︶）</td>
                    </tr>
                    <tr>
                        <td>╚(&bull;⌂&bull;)╝</td>
                        <td>┗|｀O&prime;|┛</td>
                        <td>(TロT)&sigma;</td>
                    </tr>
                    <tr>
                        <td>&lt;( ‵□&prime;)&gt;</td>
                        <td>(` ﾛ &acute;)</td>
                        <td>(҂⌣̀_⌣́)</td>
                    </tr>
                    <tr>
                        <td>(ﾉ &deg;益&deg;)ﾉ</td>
                        <td>( o｀&omega;&prime;)ノ</td>
                        <td>(╯▔皿▔)╯</td>
                    </tr>
                    <tr>
                        <td>(&sigma;｀д&prime;)&sigma;</td>
                        <td>(►__◄)</td>
                        <td>ᕦ(&ograve;_&oacute;ˇ)ᕤ</td>
                    </tr>
                    <tr>
                        <td>(`Д&acute;)</td>
                        <td>(ㆆ_ㆆ)</td>
                        <td>ಠ_ಠ┌</td>
                    </tr>
                    <tr>
                        <td>(&not;_&not;&quot;)</td>
                        <td>( &bull;̀ .̫ &bull;́ )</td>
                        <td>۹( &Ograve;ہ&Oacute; )۶</td>
                    </tr>
                    <tr>
                        <td>( ಠ_ಠ)┘</td>
                        <td>ಠ╭╮ಠ</td>
                        <td>눈_눈</td>
                    </tr>
                    <tr>
                        <td>(`･︿&acute;･ )</td>
                        <td>(; ⌣̀_⌣́)</td>
                        <td>(＃`Д&acute;)</td>
                    </tr>
                    <tr>
                        <td>( ` &omega; &acute; )</td>
                        <td>(`ー&acute;)</td>
                        <td>凸(`△&acute;＃)</td>
                    </tr>
                </table>
            </div>
            </div>
        </section>

        <!-- Surprise -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="surpreso">Surpreso Σ(O_O)</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped text-center">
                    <tr>
                        <td>w(&deg;ｏ&deg;)w</td>
                        <td>(⊙ｏ⊙)</td>
                        <td>ヽ(&deg;〇&deg;)ﾉ</td>
                    </tr>
                    <tr>
                        <td>&Sigma;(O_O)</td>
                        <td>(⊙_⊙;)</td>
                        <td>&Sigma;(&deg;ロ&deg;)</td>
                    </tr>
                    <tr>
                        <td>(⊙_⊙)</td>
                        <td>(o_O)</td>
                        <td>(O_O;)</td>
                    </tr>
                    <tr>
                        <td>(O.O)</td>
                        <td>&Sigma;(□_□)</td>
                        <td>&sum;(O_O;)</td>
                    </tr>
                    <tr>
                        <td>(&deg;ロ&deg;)!</td>
                        <td>(＠_＠;)</td>
                        <td>(o_O)!</td>
                    </tr>
                    <tr>
                        <td>(□_□)</td>
                        <td>(&gt;&bull;o&bull;)&gt;</td>
                    </tr>
                </table>
            </div>
            </div>
        </section>

        <!-- Greeting -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="cumprimento">Cumprimento (^^ゞ</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped text-center">
                    <tr>
                        <td>ヾ(&bull;&omega;&bull;`)o</td>
                        <td>\(￣︶￣*\))</td>
                        <td>(* ￣3)(&epsilon;￣ *)</td>
                    </tr>
                    <tr>
                        <td>(*￣3￣)</td>
                        <td>╭( &acute;･･)ﾉ(._.`)</td>
                        <td>(｡･&forall;･)ﾉﾞ</td>
                    </tr>
                    <tr>
                        <td>(ToT)/~~~</td>
                        <td>(&cup;.&cup; ).zZ!</td>
                        <td>(￣o￣).zZ</td>
                    </tr>
                    <tr>
                        <td>(づ￣ 3￣)づ</td>
                        <td>❤～\(@^0^@)/</td>
                        <td>ヾ(^▽^*)</td>
                    </tr>
                    <tr>
                        <td>v(￣o￣).zZ</td>
                        <td>(^_-)db(-_^)</td>
                        <td>(&gt;‿◠)</td>
                    </tr>
                    <tr>
                        <td>ヽ(*￣▽￣*)ノ</td>
                        <td>(＾Ｕ＾)ノ~ＹＯ</td>
                        <td>ヾ(￣▽￣)Bye~</td>
                    </tr>
                    <tr>
                        <td>( ﾟдﾟ)つ Bye</td>
                        <td>d=(￣▽￣*)b</td>
                        <td>ｄ(╹ڡ╹ )ノ</td>
                    </tr>
                    <tr>
                        <td>(^^ゞ</td>
                        <td>~\(≧▽≦)/~</td>
                        <td>b(￣▽￣)d</td>
                    </tr>
                    <tr>
                        <td>(☞ﾟヮﾟ)☞</td>
                        <td>☜(ﾟヮﾟ☜)</td>
                    </tr>
                </table>
            </div>
            </div>
        </section>

        <!-- Cute -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="fofo">Fofo ฅ^•ﻌ•^ฅ</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped text-center">
                    <tr>
                        <td>(✿◡‿◡)</td>
                        <td>(=^ ◡ ^=)</td>
                        <td>(=^･&omega;･^=)</td>
                    </tr>
                    <tr>
                        <td>V●ᴥ●V</td>
                        <td>(･&omega;&lt;)☆</td>
                        <td>(-'_'-)</td>
                    </tr>
                    <tr>
                        <td>(* ^ &omega; ^)</td>
                        <td>(&acute;｡&bull; &omega; &bull;｡`)</td>
                        <td>(o･&omega;･o)</td>
                    </tr>
                    <tr>
                        <td>(&acute;&bull; &omega; &bull;`)</td>
                        <td>(.❛ ᴗ ❛.)</td>
                        <td>(=&cap;&omega;&cap;=)</td>
                    </tr>
                    <tr>
                        <td>(&frasl; &frasl;&bull;&frasl;&omega;&frasl;&bull;&frasl; &frasl;)</td>
                        <td>(・3・)</td>
                        <td>(&bdquo;&bull; ֊ &bull;&bdquo;)</td>
                    </tr>
                    <tr>
                        <td>ฅ^&bull;ﻌ&bull;^ฅ</td>
                        <td>(๑˃ᴗ˂)ﻭ</td>
                        <td>(˃ᆺ˂)</td>
                    </tr>
                </table>
            </div>
            </div>
        </section>

        <!-- Others -->
        <section>
            <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title h3" id="outros">Outros ( ͡° ͜ʖ ͡°)</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped text-center">
                    <tr>
                        <td>(&not;‿&not; )</td>
                        <td>( &bull;̀ᴗ&bull;́ )و ̑̑</td>
                        <td>(─‿‿─)</td>
                    </tr>
                    <tr>
                        <td>( ͡&deg; ͜ʖ ͡&deg;)</td>
                        <td>( ͡~ ͜ʖ ͡&deg;)</td>
                        <td>&macr;\_(ツ)_/&macr;</td>
                    </tr>
                    <tr>
                        <td>(≖_≖ )</td>
                        <td>ᕙ(⇀‸↼‶)ᕗ</td>
                        <td>○|￣|_=3</td>
                    </tr>
                    <tr>
                        <td>(;´༎ຶٹ༎ຶ`)</td>
                        <td>ᓚᘏᗢ</td>
                        <td>ⅽ[ː̠̈ː̠̈ː̠̈]'͌</td>
                    </tr>
                    <tr>
                        <td>(㇏(&bull;̀ᵥᵥ&bull;́)ノ)</td>
                        <td>(─ ‿ ─)</td>
                        <td>(ง &bull;_&bull;)ง</td>
                    </tr>
                    <tr>
                        <td>( ˘ ɜ˘) ♬♪♫</td>
                        <td>♨o(>_&lt;)o♨</td>
                        <td>( °ᴗ°)~ð</td>
                    </tr>
                </table>
            </div>
            </div>
        </section>

    </div>
</div>

<!-- Texts -->
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title h3">O que é emoticon ?</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
        <a href="https://pt.wikipedia.org/wiki/Emoticon">Emoticons</a>
        são como emojis, porém, formados de caracteres e símbolos,
        usados para expressar, na maior parte das vezes, sentimentos e
        interações, quando as palavras não são suficientes para se expressar,
        usados no Whatsapp como emoticons Whatsapp, sendo esse o emoticon
        significado. Também usado como emoticon para Instagram, e emoticons
        Facebook para <strong>mais visibilidade</strong>.
        </p>
        <p class="card-text">
        Os Emoticons <strong>não necessitam</strong> de nenhum suporte por
        meio da rede social,
        jogo online, ou algum fórum de discussão, os emoticons, diferentes dos
        kaomoji, são um pouco mais simples e, diferente dos kaomojis, é
        necessário uma pequena inclinação para entender seu significado.
        Usados como emoticons teclado. Exemplos: :D, xD, :P, =P, :( .
        O site conta com emoticon feliz, emoticon triste, emoticon iphone,
        emoticon de coração e emoticon sorrindo.
        </p>
    </div>
    </div>
</section>

<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">O que é kaomoji ?</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>Kaomojis</strong> são, não diferentes dos Emoticons,
        utilizados para substituir
        o uso das palavras, quando as mesmas não dão conta de expressar
        completamente o significado de algo. Usados como emoticons de teclado
        para copiar e colar. Com emoticon apaixonado, emoticon chorando,
        emoticon pensativo, emoticon rindo e emoticon bravo.
        </p>
        <p class="card-text">
        Os Kaomojis também chamados de <strong>emoticons japoneses</strong>,
        são mais populares
        no japão, diferente dos emoticons convencionais, são mais complexos,
        porém, conseguem adicionar bem mais detalhes em suas expressões. Com
        emoticon Twitter, emoticon fofo, emoticon risada, emoticon sad,
        emoticon envergonhado etc. Exemplos: (・3・), ( ﾟдﾟ)つ, (►__◄).
        </p>
    </div>
    </div>
</section>

<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Como usar emoticons e kaomoji no Facebook ?</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        O <a href="https://pt.wikipedia.org/wiki/Facebook">Facebook</a>, como
        outras redes sociais famosas, é fundamental atrair
        usuários para conseguir likes e ganhar <strong>mais destaque</strong>,
        seja em sua
        página de entretenimento ou até mesmo em seu negócio, nosso site
        oferece o que você precisa, como emoticons para Facebook, emotes
        Twitch, emoticons para Instagram, ou até mesmo emoticon Whatsapp
        </p>
        <p class="card-text">
        Para isso, nosso site reuniu <strong>inúmeros</strong> emoticon
        Facebook, para te
        ajudar a criar títulos e textos mais amigáveis para o usuário,
        aumentando assim o desempenho de sua página, só usar nossos emoticons
        para copiar e colar. Com emoticon assustado, emoticon beijo, emoticon
        text, emoticon piscando, emoticon abraço, emoticon sorriso e emoticon
        surpreso.
        </p>
    </div>
    </div>
</section>
{% endblock %}
{% block side_block %}
<nav>
	<div class="card mb-4">
	<div class="card-header">
		<p class="card-text">Emoticons</p>
	</div>
	<div class="card-body">
	<div class="row">   
	<div class="col-sm-6">
		<ul class="list-unstyled mb-0">
			<li><a href="#ascii">ASCII</a></li>
			<li><a href="#feliz">Feliz</a></li>
			<li><a href="#triste">Triste</a></li>
			<li><a href="#nervoso">Nervoso</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-unstyled mb-0">
			<li><a href="#surpreso">Surpreso</a></li>
			<li><a href="#cumprimento">Cumprimento</a></li>
			<li><a href="#fofo">Fofo</a></li>
			<li><a href="#outros">Outros</a></li>
		</ul>
	</div>
	</div>
	</div>
	</div>
</nav>
{% endblock %}