{% extends 'base.html' %}
{% load hfilters %}
{% load crispy_forms_tags %}


{% block title %} Letras Diferentes {% endblock %}

{% block global %}
Letras diferentes

{% block input %}
<form method="post">{% csrf_token %}
    {{ form|crispy }}

    <div class="form-group">
        <button type="submit" class="btn btn-secondary">
            Submit
        </button>
    </div>
</form>
{% endblock %}

{% block output %}
<form action="" method="post">
    <div class="form-group">
        <label for="id_origin">Resultado</label>
        <textarea class="form-control" id="id_origin" rows="5">{{ form.a|return_a }}</textarea>
    </div>
    
</form>
{% endblock %}

{% block buttons %}
<div class="form-group">
    <button type="submit" class="btn btn-secondary" value="a">
        A
    </button>
    <button type="submit" class="btn btn-secondary" value="b">
        B
    </button>
    <button type="submit" class="btn btn-secondary" value="c">
        C
    </button>
    <button type="submit" class="btn btn-secondary" value="d">
        D
    </button>
</div>

{% endblock %}
{% endblock global %}