{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} Letras Diferentes {% endblock %}


{% block input %}
<form id="input_form" method="post" name="vaidarcerto">{% csrf_token %}
    {{ form|crispy }}
</form>
{% endblock %}

{% block output %}
<form method="post">
    <div class="form-group">
        <label for="id_origin">Resultado</label>
        <textarea class="form-control" id="id_origin" rows="5">{{ form.d_new }}</textarea>
    </div>
</form>
{% endblock %}

{% block buttons %}
<form method="post" name="vaidarcerto">{% csrf_token %}
    <div class="form-group">
        <button type="submit" class="btn btn-secondary" value="btn-a" name="submit" form="input_form">
            𝔉𝔯𝔞𝔨𝔱𝔲𝔯
        </button>
        <button type="submit" class="btn btn-secondary" value="btn-b" name="submit" form="input_form">
            𝕱𝖗𝖆𝖐𝖙𝖚𝖗 𝕭𝖔𝖑𝖉
        </button>
        <button type="submit" class="btn btn-secondary" value="btn-c" name="submit" form="input_form">
            𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎
        </button>
        <button type="submit" class="btn btn-secondary" value="btn-d" name="submit" form="input_form">
            𝔻𝕠𝕦𝕓𝕝𝕖 𝕊𝕥𝕣𝕦𝕔𝕜
        </button>
        <button type="submit" class="btn btn-secondary" value="btn-e" name="submit" form="input_form">
            𝒮𝒸𝓇𝒾𝓅𝓉
        </button>
        <button type="submit" class="btn btn-secondary" value="btn-f" name="submit" form="input_form">
            𝓢𝓬𝓻𝓲𝓹𝓽 𝓑𝓸𝓵𝓭
        </button>
        <button type="submit" class="btn btn-secondary" value="btn-g" name="submit" form="input_form">
            🅝🅔🅖🅐🅣🅘🅥🅔 🅒🅘🅡🅒🅛🅔🅓
        </button>
        <button type="submit" class="btn btn-secondary" value="btn-h" name="submit" form="input_form">
            🅒🅘🅡🅒🅛🅔🅓
        </button>
    </div>
</form>
{% endblock %}
