{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} Letras Diferentes {% endblock %}


{% block input %}
<form id="input_form" method="post" name="vaidarcerto">{% csrf_token %}
    {{ form|crispy }}
</form>
{% endblock %}

{% block output %}
<form method="post">
    <div class="form-group">
        <label for="id_origin">Resultado</label>
        <textarea class="form-control" id="id_origin" rows="5">{{ form.d_new }}</textarea>
    </div>
</form>
{% endblock %}

{% block buttons %}
<form method="post" name="vaidarcerto">{% csrf_token %}
    <div class="form-group">
        <button type="submit" class="btn btn-secondary" value="btn-a" name="submit" form="input_form">
            A
        </button>
        <button type="btn-b" class="btn btn-secondary" value="b" name="btn-b">
            B
        </button>
        <button type="btn-c" class="btn btn-secondary" value="c" name="btn-c">
            C
        </button>
    </div>
</form>
{% endblock %}
