{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'partials/_head.html'%}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'partials/_nav.html'%}
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav" id="side-left">
      {% block side_left %}{% endblock %}
    </div>
    <div class="col-sm-8" id="main"> 
      {% block main %}{% endblock %}
    </div>
    <div class="col-sm-2 sidenav" id="side-right">
      {% block side_right %}{% endblock %}
      <div class="well">
        <p class="text-primary">ADS</p>
			</div>
			<div class="well">
        <p class="text-primary">ADS</p>
      </div>
      <div class="well">
        <p class="text-primary">ADS</p>
      </div>
    </div>
  </div>
</div>
{% include 'partials/_footer.html' %}
<script src="{% static 'vendor/jquery/jquery.slim.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'vendor/clipboardjs/dist/clipboard.min.js'%}"></script>
</body>

</html>
