{% load static %}
<!DOCTYPE html>
{% if 'en/' in request.path or request.path == '/' %}
<html lang="en">
{% else %}
<html lang="pt-BR">
{% endif %}
<head>
  {% include 'partials/_head.html'%}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'partials/_nav.html'%}
<div class="container-fluid">    
  <div class="row content">
    <aside class="col-sm-2 sidenav">
      {% block side_left %}{% endblock %}
    </aside>
    <main class="col-sm-8"> 
      {% block main %}{% endblock %}
    </main>
    <aside class="col-sm-2 sidenav">
      {% if not request.path == '/' %}
      {% block side_right %}{% endblock %}
      {% endif %}
    </aside>
  </div>
</div>
{% include 'partials/_footer.html' %}
</body>
</html>