{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'partials/_head.html' %}
    </head>

    <body>
        <!-- PAGE HEADER -->
        {% include 'partials/_header.html' %}
        
        {% include 'partials/_main_section.html' %}
        
        <!-- PAGE CONTENT -->
        <div class="container">
        <div class="row">
        <div class="col-lg-8">  
            <!-- Main content-->
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
        <div class="col-lg-4">
            <!-- Side content -->
            <aside>
                {% include 'partials/_dark.html' %}
                {% include 'partials/_lang.html' %}
                {% include 'partials/_links.html' %}
                {% include 'partials/_pages.html' %}
            </aside>
        </div>
        </div>
        </div>

        <!-- PAGE FOOTER -->
        {% include 'partials/_footer.html' %}
    </body>
</html>
