{% load static %}
<!doctype html>
<html lang="en" class="h-100">
    <head>
        {% include 'partials/_head.html' %}
        <link rel="stylesheet" href="{% static 'cover/cover.css' %}">
        <title>Shadesapps</title>
        <title>Shadesapps &#128526; | Emojis &amp; Convert Case, Emoticons</title>
        <meta name="description" content="Shadesapps Website">

        <!-- META SOCIAL MEDIA -->
        <meta property="og:title" content="Shadesapps">
        <meta property="og:description" content="Shadesapps Website">
        <meta property="og:url" content="https://www.shadesapps.com/">

        <!-- CANONICAL -->
        <link rel="canonical" href="https://www.shadesapps.com/">
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">Shadesapps</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="https://en.shadesapps.com/">Features</a>
                        <a class="nav-link" href="https://en.shadesapps.com/about/">About</a>
                    </nav>
                </div>
            </header>
            <main class="px-3">
                <section>
                    <h1>Shadesapps</h1>
                    <p class="lead">select your preferred language below, so that you can proceed to your destination.</p>
                </section>
                <section>
                    <div class="row">
                    <div class="col-md-4">
                        <p class="lead"><a href="https://en.shadesapps.com/" class="btn btn-lg btn-secondary fw-bold border-white bg-white">English</a></p>
                    </div>        

                    <div class="col-md-4">
                        <p class="lead"><a href="https://pt.shadesapps.com/" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Português</a></p>
                    </div>                                

                    <div class="col-md-4">
                        <p class="lead"><a href="https://es.shadesapps.com/" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Espanõl</a></p>
                    </div>        
                    </div>
                </section>
            </main>
            <footer class="mt-auto text-white-50">
                <p>Developed with 💙 by Hireki</p>
            </footer>
        </div>
    </body>
</html
