{% extends 'base.html' %}
{% block content %}
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Sobre el sitio web</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>shadesapps.com</strong> es un sitio web que ofrece a los usuarios de forma gratuita y sencilla,
        herramientas web e información para facilitarle la vida,
        poniendo todo junto en un solo lugar!
        </p>
    </div>
    </div>
</section>
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Política de privacidad</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        Nuestro sitio web se preocupa más por su privacidad y seguridad,
        haciendo todo lo posible para asegurarlos.
        </p>
    </div>
    </div>
</section> 
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Terminos de uso</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>no</strong> somos responsables de las acciones de los usuarios del sitio web.
        Utilice el sitio web bajo su propia responsabilidad.
        </p>
    </div>
    </div>
</section> 
{% endblock %}