{% extends 'base.html' %}
{% block language %}es{% endblock %}
{% block head %}
<title>Sobre | &#128526; Shadesapps - Modo Oscuro &#127770;</title>
<meta name="description" content="Sobre Shadesapps">

<!-- META SOCIAL MEDIA -->
<meta property="og:title" content="Sobre | &#128526; Shadesapps - Modo Oscuro &#127770;">
<meta property="og:description" content="Sobre Shadesapps">
<meta property="og:url" content="https://es.shadesapps.com/sobre/">

<!-- CANONICAL -->
<link rel="canonical" href="https://es.shadesapps.com/sobre/">

<!-- HREFLANG -->
<link rel="alternate" href="https://en.shadesapps.com/about/" hreflang="en">
<link rel="alternate" href="https://pt.shadesapps.com/sobre/" hreflang="pt-br">
<link rel="alternate" href="https://es.shadesapps.com/sobre/" hreflang="es"> 
<link rel="alternate" href="https://en.shadesapps.com/about/" hreflang="x-default">
{% endblock %}
{% block content %}
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h1 class="card-title h3">Sobre el sitio web</h1>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>shadesapps.com</strong> es un sitio web que ofrece a los usuarios de forma gratuita y sencilla,
        herramientas web e información para facilitarle la vida,
        poniendo todo junto en un solo lugar!
        </p>
    </div>
    </div>
</section>
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title h3">Política de privacidad</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
        Nuestro sitio web se preocupa más por su privacidad y seguridad,
        haciendo todo lo posible para asegurarlos.
        </p>
    </div>
    </div>
</section> 
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title h3">Terminos de uso</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>no</strong> somos responsables de las acciones de los usuarios del sitio web.
        Utilice el sitio web bajo su propia responsabilidad.
        </p>
    </div>
    </div>
</section> 
{% endblock %}