{% extends 'base.html' %}
{% block language %}pt{% endblock %}
{% block head %}
<title>Sobre | &#128526; Shadesapps - Modo Escuro &#127770;</title>
<meta name="description" content="Sobre nós">

<!-- META SOCIAL MEDIA -->
<meta property="og:title" content="Sobre | &#128526; Shadesapps - Modo Escuro &#127770;">
<meta property="og:description" content="Sobre nós">
<meta property="og:url" content="https://pt.shadesapps.com/sobre/">

<!-- CANONICAL -->
<link rel="canonical" href="https://pt.shadesapps.com/sobre/">

<!-- HREFLANG -->
<link rel="alternate" href="https://en.shadesapps.com/about/" hreflang="en">
<link rel="alternate" href="https://pt.shadesapps.com/sobre/" hreflang="pt-br">
<link rel="alternate" href="https://es.shadesapps.com/sobre/" hreflang="es"> 
<link rel="alternate" href="https://en.shadesapps.com/about/" hreflang="x-default">
{% endblock %}
{% block content %}
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h1 class="card-title h3">Sobre o site</h1>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>shadesapps.com</strong> é um site que oferece aos usuários de forma gratuita e fácil,
        ferramentas e informações da web para tornar suas vidas mais fáceis,
        juntando tudo em um só lugar!
        </p>
    </div>
    </div>
</section>
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title h3">Política de Privacidade</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
        Nosso site se importa ao máximo com sua privacidade e segurança,
        dando o seu melhor para assegurar estes.
        </p>
    </div>
    </div>
</section> 
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title h3">Termos de uso</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>NÃO</strong> nos responsabilizamos pelas ações dos usuários do site.
        Utilize-o site por sua conta e risco.
        </p>
    </div>
    </div>
</section> 
{% endblock %}