{% extends 'base.html' %}
{% block content %}
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Sobre o site</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>shadesapps.com</strong> é um site que oferece aos usuários de forma gratuita e fácil,
        ferramentas e informações da web para tornar suas vidas mais fáceis,
        juntando tudo em um só lugar!
        </p>
    </div>
    </div>
</section>
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Política de Privacidade</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        Nosso site se importa ao máximo com sua privacidade e segurança,
        dando o seu melhor para assegurar estes.
        </p>
    </div>
    </div>
</section> 
<section>
    <div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Termos de uso</h3>
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>NÃO</strong> nos responsabilizamos pelas ações dos usuários do site.
        Utilize-o site por sua conta e risco.
        </p>
    </div>
    </div>
</section> 
{% endblock %}